﻿
<style>
    .a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
    }

    .a2 {
        background-color: #34495E;
    }
</style>

<br />
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">

            <ul class="nav nav-tabs flex-wrap">
                <li class="active"><a data-toggle="tab" href="#menu2" class="a a2">Datos</a></li>
                <li><a data-toggle="tab" href="#home" class="a a2">Pasajeros</a></li>
                <li><a data-toggle="tab" href="#menu3" class="a a2">Cotizaciones</a></li>
                <li><a data-toggle="tab" href="#menu1" class="a a2">Reservaciones</a></li>
                <li><a data-toggle="tab" href="#menu3" class="a a2">Liquidacion</a></li>
                <li><a data-toggle="tab" href="#menu3" class="a a2">Facturacion</a></li>
                <li><a data-toggle="tab" href="#menu3" class="a a2">Historial Comunicaciones</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br />
                    <div class="col-md-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Nombres</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese Nombre">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Apellidos</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Ingrese Apellidos">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Tipo de Pasajero</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Tipo de Documento</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Seleccionar</option>
                                        <option>DNI</option>
                                        <option>PASAPORTE</option>
                                        <option>RUC</option>
                                        <option>CE</option>
                                        <option>OTRO</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputAddress">Numero de Documento</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Num Documento">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Fecha Nacimiento</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputAddress">Edad</label>
                                    <input type="text" class="form-control" placeholder="Edad">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputAddress">Pasajero Principal</label>
                                    <br />
                                    <input type="checkbox" class="minimal" checked>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAddress"></label>
                                <br />
                                <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                            </div>
                        </form>
                    </div>
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Tipo Pasajero</th>
                                                    <th>Tipo Documento</th>
                                                    <th>Numero Documento</th>
                                                    <th>Fecha Nacimiento</th>
                                                    <th>Edad</th>
                                                    <th>Principal</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Yeison Julio</td>
                                                    <td>Ruiz Curi</td>
                                                    <td>NOSE</td>
                                                    <td>DNI</td>
                                                    <td>72964860</td>
                                                    <td>27/07/1997</td>
                                                    <td>22</td>
                                                    <td><small class="label bg-red">pasajero</small></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Yeison Julio</td>
                                                    <td>Ruiz Curi</td>
                                                    <td>NOSE</td>
                                                    <td>DNI</td>
                                                    <td>72964860</td>
                                                    <td>27/07/1997</td>
                                                    <td>22</td>
                                                    <td><small class="label bg-red">pasajero</small></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Yeison Julio</td>
                                                    <td>Ruiz Curi</td>
                                                    <td>NOSE</td>
                                                    <td>DNI</td>
                                                    <td>72964860</td>
                                                    <td>27/07/1997</td>
                                                    <td>22</td>
                                                    <td><small class="label bg-red">pasajero</small></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Yeison Julio</td>
                                                    <td>Ruiz Curi</td>
                                                    <td>NOSE</td>
                                                    <td>DNI</td>
                                                    <td>72964860</td>
                                                    <td>27/07/1997</td>
                                                    <td>22</td>
                                                    <td><small class="label bg-red">pasajero</small></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Yeison Julio</td>
                                                    <td>Ruiz Curi</td>
                                                    <td>NOSE</td>
                                                    <td>DNI</td>
                                                    <td>72964860</td>
                                                    <td>27/07/1997</td>
                                                    <td>22</td>
                                                    <td><small class="label bg-green">principal</small></td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->

                </div>
                <div id="menu1" class="tab-pane fade">
                    <br />
                    <div class="col-md-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Tipo Reserva</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Fecha Reservacion</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Localizador</label>
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Localizador">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Fecha Limite</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Proveedor</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Operador</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Seleccionar</option>
                                        <option>Contrato Directo</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>OTRO</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Monto Total</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-usd"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" placeholder="Monto Total">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAddress"></label>
                                <br />
                                <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                            </div>
                        </form>
                    </div>
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla2" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Reserva</th>
                                                    <th>Fecha Reserva</th>
                                                    <th>Localizador</th>
                                                    <th>Fecha Limite</th>
                                                    <th>Proveedor</th>
                                                    <th>Operador</th>
                                                    <th>Monto Total</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Hotel</td>
                                                    <td>22/05/2019</td>
                                                    <td>A-234</td>
                                                    <td>25/05/2019</td>
                                                    <td>Hotel Dunas</td>
                                                    <td>Operador</td>
                                                    <td>200</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hotel</td>
                                                    <td>22/05/2019</td>
                                                    <td>A-234</td>
                                                    <td>25/05/2019</td>
                                                    <td>Hotel Dunas</td>
                                                    <td>Operador</td>
                                                    <td>200</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hotel</td>
                                                    <td>22/05/2019</td>
                                                    <td>A-234</td>
                                                    <td>25/05/2019</td>
                                                    <td>Hotel Dunas</td>
                                                    <td>Operador</td>
                                                    <td>200</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hotel</td>
                                                    <td>22/05/2019</td>
                                                    <td>A-234</td>
                                                    <td>25/05/2019</td>
                                                    <td>Hotel Dunas</td>
                                                    <td>Operador</td>
                                                    <td>200</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Hotel</td>
                                                    <td>22/05/2019</td>
                                                    <td>A-234</td>
                                                    <td>25/05/2019</td>
                                                    <td>Hotel Dunas</td>
                                                    <td>Operador</td>
                                                    <td>200</td>
                                                    <td>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                        </div>
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->

                </div>
                <div id="menu2" class="tab-pane fade">
                    <br />
                    <div class="col-md-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Solicitado Desde</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Seleccionar</option>
                                        <option>WEB</option>
                                        <option>EMAIL</option>
                                        <option>OTRO</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Tipo de Reserva</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Destino</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputPassword4">Cantidad de Personas</label>
                                    <input type="number" min="1" max="100" class="form-control" id="inputPassword4" placeholder="1">
                                </div>


                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Cantidad de Personas</label>
                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Ingrese Apellidos">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputPassword4">Tipo de Pasajero</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Seleccionar">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success btn-flat"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Tipo de Documento</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Seleccionar</option>
                                        <option>DNI</option>
                                        <option>PASAPORTE</option>
                                        <option>RUC</option>
                                        <option>CE</option>
                                        <option>OTRO</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputAddress">Numero de Documento</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="Num Documento">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Fecha Nacimiento</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <label for="inputAddress">Edad</label>
                                    <input type="text" class="form-control" placeholder="Edad">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputAddress">Pasajero Principal</label>
                                    <br />
                                    <input type="checkbox" class="minimal" checked>
                                </div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAddress"></label>
                                <br />
                                <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });

</script>

<script>
    $(document).ready(function () {
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        });

    });

</script>

<script>
    $(document).ready(function () {

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        })
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        })

    });
</script>

<script>
    $(document).ready(function () {
        var table = $('#tabla').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Registros",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            pageLength: 5,
            lengthMenu: [
                [5, 10, 20, -1],
                [5, 10, 20, 'Todos']
            ]
        });
    });
</script>
<script>
    $(document).ready(function () {
        var table = $('#tabla2').DataTable({
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Registros",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            pageLength: 5,
            lengthMenu: [
                [5, 10, 20, -1],
                [5, 10, 20, 'Todos']
            ]
        });
    });
</script>

