﻿@model ProyectoWsicav.Models.Tbl_CorreoCampana

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Tbl_CorreoCampana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Asunto" class="control-label"></label>
                <input asp-for="Asunto" class="form-control" />
                <span asp-validation-for="Asunto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desde" class="control-label"></label>
                <input asp-for="Desde" class="form-control" />
                <span asp-validation-for="Desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hasta" class="control-label"></label>
                <input asp-for="Hasta" class="form-control" />
                <span asp-validation-for="Hasta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Lunes" /> @Html.DisplayNameFor(model => model.Lunes)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Martes" /> @Html.DisplayNameFor(model => model.Martes)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Miercoles" /> @Html.DisplayNameFor(model => model.Miercoles)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Jueves" /> @Html.DisplayNameFor(model => model.Jueves)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Viernes" /> @Html.DisplayNameFor(model => model.Viernes)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Sabado" /> @Html.DisplayNameFor(model => model.Sabado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Domingo" /> @Html.DisplayNameFor(model => model.Domingo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CorreoPlantillaId" class="control-label"></label>
                <input asp-for="CorreoPlantillaId" class="form-control" />
                <span asp-validation-for="CorreoPlantillaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoEmpresaId" class="control-label"></label>
                <input asp-for="CorreoEmpresaId" class="form-control" />
                <span asp-validation-for="CorreoEmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora1" class="control-label"></label>
                <input asp-for="Hora1" class="form-control" />
                <span asp-validation-for="Hora1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora2" class="control-label"></label>
                <input asp-for="Hora2" class="form-control" />
                <span asp-validation-for="Hora2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hora3" class="control-label"></label>
                <input asp-for="Hora3" class="form-control" />
                <span asp-validation-for="Hora3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
