﻿@model ProyectoWsicav.Models.Tbl_CorreoCampana

<style>

    .a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
    }

    .a2 {
        background-color: #34495E;
    }
</style>
<!-- Bootstrap time Picker -->
@*<link rel="stylesheet" href="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.css")">*@

<br />

<form asp-action="Edit">
    @* Datos del edit *@
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-weight:bold;">Actualizar datos campaña</h3>
                <hr />
                <label class="col-md-10">(*) Campos Obligatorios</label>
                <div class="col-md-12">
                    <div class="form-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group col-md-6">
                            <label>Asunto(*)</label>
                            <input type="text" asp-for="Asunto" class="form-control" required>
                            <span asp-validation-for="Asunto" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Desde(*)</label>
                            <input type="date" asp-for="Desde" class="form-control" required>
                            <span asp-validation-for="Desde" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Hasta(*)</label>
                            <input type="date" asp-for="Hasta" class="form-control" required>
                            <span asp-validation-for="Hasta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label>Correo Plantilla(*)</label>
                            <select asp-for="CorreoPlantillaId" asp-items="ViewBag.Plantilla" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Correo Empresa(*)</label>
                            <select asp-for="CorreoEmpresaId" asp-items="ViewBag.CorreoE" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 1(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora1" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 2(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora2" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 3(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora3" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora3" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <label>Estado</label>
                            <div class="checkbox">
                                <label><input asp-for="Activo">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label>Días</label>
                            <div class="checkbox">
                                <label><input asp-for="Lunes">Lunes</label>
                                <label><input asp-for="Martes">Martes</label>
                                <label><input asp-for="Miercoles">Miercoles</label>
                                <label><input asp-for="Jueves">Jueves</label>
                                <label><input asp-for="Viernes">Viernes</label>
                                <label><input asp-for="Sabado">Sabado</label>
                                <label><input asp-for="Domingo">Domingo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label></label>
                        <br />
                        <button id="btnEnviar" type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @* Datos de las pestañas *@
    <div class="col-md-12">
        <br />
        <div class="box box-primary">
            <div class="box-header with-border">
                <ul class="nav nav-tabs flex-wrap">
                    <li class="active"><a data-toggle="tab" href="#Clientes" class="a a2">Clientes</a></li>
                    <li class=""><a data-toggle="tab" href="#ClientesCharge" class="a a2">Clientes cargados </a></li>
                </ul>
                <div class="tab-content">
                    <!-- Datos Clientes -->
                    <div id="Clientes" class="tab-pane fade in active">
                        <!-- Tabla de Clientes -->
                        <section class="content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box-header">
                                        <h3 class="box-title">Buscar</h3>
                                    </div>
                                    <!-- Cuerpo -->
                                    <div class="box-body">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-3">
                                                    <label>Tipo Cliente</label>
                                                    <input type="text" name="codigoTipoCliente2" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-3">
                                                    <label>Cliente</label>
                                                    <input type="text" name="Cliente2" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="checkbox">
                                                <input type="submit" name="submitButton" value="Buscar" class="btn btn-primary" />
                                                <input type="submit" name="submitButton" value="Cargar/Clientes" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin cuerpo -->
                                </div>
                                <br />
                                <div class="col-xs-12">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Clientes</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="tabla" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th> </th>
                                                        <th>Nombre</th>
                                                        <th>Telefono</th>
                                                        <th>Correo</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (TblCliente Des in ViewBag.Clientes)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox" name="ids" value="@Des.Id" checked @*onchange="Aereo(this.value);"*@ />
                                                            </td>
                                                            <td>@Des.Nombre</td>
                                                            <td>@Des.Telefono</td>
                                                            <td>@Des.Email</td>
                                                            <td>
                                                                <div class="btn-group">

                                                                    <a asp-action="Modificar" asp-controller="Clientes" asp-route-id="@Des.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                                                </div>
                                                                <div class="btn-group">
                                                                    <a asp-action="EliminarCliente" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="CorreoCampana" asp-route-id="@Des.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                        <!-- /.content -->
                    </div>

                    <!-- Datos Clientes cargados -->
                    <div id="ClientesCharge" class="tab-pane fade">
                        <section class="content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="box-header">
                                        <h3 class="box-title">Buscar</h3>
                                    </div>
                                    <!-- Cuerpo -->
                                    <div class="box-body">
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-3">
                                                    <label>Tipo Cliente</label>
                                                    <input type="text" name="codigoTipoCliente2" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <div class="form-group col-md-3">
                                                    <label>Cliente</label>
                                                    <input type="text" name="Cliente" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="checkbox">
                                                <input type="submit" name="submitButton" value="Buscar/Cargados" class="btn btn-primary" />
                                                <input type="submit" name="submitButton" value="Cargar/Clientes" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin cuerpo -->
                                </div>
                                <br />
                                <div class="col-xs-12">
                                    <div class="box box-success">
                                        <div class="box-header">
                                            <h3 class="box-title">Clientes cargados</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <table id="tabla" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Cliente</th>
                                                        <th>Correo</th>
                                                        <th>Telefono</th>
                                                        <th> </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (viw_ClientePerteneceCampana x in ViewBag.ListaClienteCargados)
                                                    {
                                                        <tr>
                                                            <td>@x.nombre</td>
                                                            <td>@x.Email</td>
                                                            <td>@x.Telefono</td>

                                                            <td>

                                                                <div class="btn-group">

                                                                    <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="CorreoCampana" asp-route-id="@x.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="glyphicon glyphicon-trash"></i></a>
                                                                   @* <input type="submit" onclick="return confirm('¿Desea eliminar este registro?')" name="submitButton" value="Eliminar" class="btn btn-block btn-danger btn-xs btnEliminar" />*@
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="Tokyo" class="tabcontent">
        <font color="red">@ViewBag.MensajeCrearCliente</font>
    </div>

</form>

<hr />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<!-- bootstrap time picker -->
@*<script src="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.js")"></script>*@

@*<script>
    $(document).ready(function () {
        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })
    });
</script>*@





