﻿@model Tbl_CorreoCampana

<form asp-action="Create" asp-controller="CorreoCampana" method="post">
    <div class="col-md-12">
        <div class="box box-primary">
            <h4 class="box-title" style="font-weight:bold;">Registrar nueva campaña</h4>
            <div class="box-header with-border">
                <label class="col-md-10">(*) Campos Obligatorios</label>
                <div class="col-md-12">
                    <div class="form-row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group col-md-6">
                            <label>Asunto(*)</label>
                            <input type="text" asp-for="Asunto" class="form-control" required>
                            <span asp-validation-for="Asunto" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Desde(*)</label>
                            <input type="date" asp-for="Desde" class="form-control" required>
                            <span asp-validation-for="Desde" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Hasta(*)</label>
                            <input type="date" asp-for="Hasta" class="form-control" required>
                            <span asp-validation-for="Hasta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3">
                            <label>Correo Plantilla(*)</label>
                            <select asp-for="CorreoPlantillaId" asp-items="ViewBag.Plantilla" class="form-control">
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label>Correo Empresa(*)</label>
                            <select asp-for="CorreoEmpresaId" asp-items="ViewBag.CorreoE" class="form-control">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 1(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora1" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora1" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 2(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora2" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora2" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-2 bootstrap-timepicker">
                                <label for="inputEmail4">Hora 3(*)</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input asp-for="Hora3" type="text" class="form-control timepicker" required>
                                    <span asp-validation-for="Hora3" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12">
                            <label>Estado</label>
                            <div class="checkbox">
                                <label><input asp-for="Activo">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <label>Días</label>
                            <div class="checkbox">
                                <label><input asp-for="Lunes">Lunes</label>
                                <label><input asp-for="Martes">Martes</label>
                                <label><input asp-for="Miercoles">Miercoles</label>
                                <label><input asp-for="Jueves">Jueves</label>
                                <label><input asp-for="Viernes">Viernes</label>
                                <label><input asp-for="Sabado">Sabado</label>
                                <label><input asp-for="Domingo">Domingo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label></label>
                        <br />
                        <button id="btnEnviar" type="submit" class="btn btn-primary">
                            <i class="fa fa-save"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    