﻿<br />

<partial name="~/Views/CorreoCampana/Formulario.cshtml" />

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Campañas</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table @*id="tablaCliente"*@ class="table table-bordered table-striped dt-responsive tablas">
                        <thead>
                            <tr>
                                <th>Asunto</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Sábado</th>
                                <th>Domingo</th>
                                <th>Correo Plantilla</th>
                                <th>Correo Empresa</th>
                                <th>Hora 1</th>
                                <th>Hora 2</th>
                                <th>Hora 3</th>
                                <th>Activo</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Tbl_CorreoCampana p in ViewBag.Campa)
                            {

                                <tr>
                                    <td>@p.Asunto</td>
                                    <td>@p.Desde</td>
                                    <td>@p.Hasta</td>
                                    <td><input checked="@p.Lunes" class="check-box" disabled="@p.Lunes" type="checkbox"></td>
                                    <td><input checked="@p.Martes" class="check-box" disabled="@p.Martes" type="checkbox"></td>
                                    <td><input checked="@p.Miercoles" class="check-box" disabled="@p.Miercoles" type="checkbox"></td>
                                    <td><input checked="@p.Jueves" class="check-box" disabled="@p.Jueves" type="checkbox"></td>
                                    <td><input checked="@p.Viernes" class="check-box" disabled="@p.Viernes" type="checkbox"></td>
                                    <td><input checked="@p.Sabado" class="check-box" disabled="@p.Sabado" type="checkbox"></td>
                                    <td><input checked="@p.Domingo" class="check-box" disabled="@p.Domingo" type="checkbox"></td>
                                    <td>@p.CorreoPlantilla.NombrePlantilla</td>
                                    <td>@p.CorreoEmpresa.Correo</td>
                                    <td>@p.Hora1</td>
                                    <td>@p.Hora2</td>
                                    <td>@p.Hora3</td>
                                    <td>@p.Activo</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Edit" asp-controller="CorreoCampana" asp-route-id="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a onclick="return confirm('¿Desea eliminar este registro?')" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>
    //$(document).ready(function () {
    //    $('#tabla').DataTable();
    //});
</script>