﻿<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Conductores</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Tipo Documento</th>
                                <th>N° Documento</th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Email</th>
                                <th>Licencia</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblConductor Cond in ViewBag.Conductor)
                            {

                            <tr>
                                <td>@Cond.Codigo</td>
                                <td>@Cond.TipoDocumentoIdentidad.Descripcion</td>
                                <td>@Cond.NumDocumento</td>
                                <td>@Cond.Apellidos</td>
                                <td>@Cond.Nombres</td>
                                <td>@Cond.Telefono</td>
                                <td>@Cond.Direccion</td>
                                <td>@Cond.Email</td>
                                <td>@Cond.TipoLicencia.Licencia</td>

                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Modificar" asp-controller="Conductores" asp-route-id="@Cond.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Conductores" asp-route-id="@Cond.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->