﻿@model TblVehiculo  

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Vehiculos</h3>
            <form asp-action="GuardarVehiculo" asp-controller="Vehiculos" method="post">
                <br />
                <input type="hidden" asp-for="Id"/>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo</label>
                        <input type="text" class="form-control" asp-for="Codigo" placeholder="Ingrese Codigo">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Placa</label>
                        <input type="text" class="form-control" asp-for="Placa" placeholder="Placa" />
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tipo de Vehiculo(*)</label>
                        <select asp-for="TipoVehiculoId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoVehiculo, "Id", "TipoVehiculo"))">
                            <option>Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Marca</label>
                        <input type="text" class="form-control" asp-for="Marca" placeholder="Marca Vehicular" />
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">N° Asientos</label>
                        <input type="number" min="0" max="500" class="form-control" asp-for="NumAsientos" placeholder="0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Capacidad Maletas</label>
                        <input type="number" min="0" max="500" class="form-control" asp-for="NumMaletas" placeholder="0">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Capacidad Combustible</label>
                        <input type="text" class="form-control" asp-for="Combustible" placeholder="Capacidad Combustible" />
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAddress"></label>
                    <br />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>