﻿<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Vehiculos</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Placa</th>
                                <th>Tipo Vehiculo</th>
                                <th>Marca</th>
                                <th>N° Asientos</th>
                                <th>N° Maletas</th>
                                <th>Combustible</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblVehiculo Vehi in ViewBag.Vehiculo)
                            {

                            <tr>
                                <td>@Vehi.Codigo</td>
                                <td>@Vehi.Placa</td>
                                <td>@Vehi.TipoVehiculo.TipoVehiculo</td>
                                <td>@Vehi.Marca</td>
                                <td>@Vehi.NumAsientos</td>
                                <td>@Vehi.NumMaletas</td>
                                <td>@Vehi.Combustible</td>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="Modificar" asp-controller="Vehiculos" asp-route-id="@Vehi.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                    </div>
                                    <div class="btn-group">
                                        <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Vehiculos" asp-route-id="@Vehi.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                    </div>
                                </td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->