﻿
@model TblUsuario

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Usuarios</h3>
            <form asp-action="GuardarUsuario" asp-controller="Usuarios" method="post">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Apellidos</label>
                        <input type="text" class="form-control" asp-for="Apellido" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Nombres</label>
                        <input type="text" class="form-control" asp-for="Nombre" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" asp-for="Password" placeholder="Ingrese Telefono">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Email</label>
                        <input type="text" class="form-control" asp-for="Email" placeholder="Ingrese Celular">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Usuario</label>
                        <input type="text" class="form-control" asp-for="Usuario" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Departamento</label>
                        <input type="text" class="form-control" asp-for="CodigoDepartamento" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Permiso(*)</label>
                        <div class="form-row">
                            <select asp-items="ViewBag.Permisos" name="PermisoId" class="form-control" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                <option selected="selected" data-select2-id="3">Seleccionar ...</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAddress"></label>
                    <br />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>
