﻿@model TblCliente

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Clientes</h3>
            <form asp-action="GuardarCliente" asp-controller="Clientes" method="post" id="formCliente">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo(*)</label>
                        <input type="text" asp-for="Codigo" class="form-control" placeholder="Ingrese Codigo" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tipo de Cliente(*)</label>
                        <select asp-for="TipoClienteId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoCliente, "Id", "Descripcion"))">
                            <option>Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre / Razon Social(*)</label>
                        <input type="text" asp-for="Nombre" class="form-control" placeholder="Ingrese Nombre / Razon Social" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tipo de Documento(*)</label>
                        <select asp-for="TipoDocumentoIdentidadId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoDocumentoIdentidad, "Id", "Descripcion"))">
                            <option>Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>N° Documento(*)</label>
                        <input type="number" asp-for="Documento" class="form-control" placeholder="Numero Documento" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Direccion(*)</label>
                        <input type="text" asp-for="Direccion" class="form-control" placeholder="Ingrese Direccion" required>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Telefono</label>
                        <input type="number" asp-for="Telefono" class="form-control" placeholder="Ingrese Telefono">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Celular</label>
                        <input type="number" asp-for="Celular" class="form-control" placeholder="Ingrese Celular">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Email(*)</label>
                        <input type="email" asp-for="Email" class="form-control" placeholder="Ingrese Email" required>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label></label>
                    <br />
                    <button id="btnEnviar" type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Registrar
                    </button>
                </div>
            </form>
            <label class="col-md-10">(*) Campos Obligatorios</label>
        </div>
    </div>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





<script type="text/javascript">

    $(document).ready(function () {

        $("#btnEnviar").on("click",function (event) {

            //event.preventDefault();

            swal("Good jb!", "You clicked the button!", "success")

        });

    });




</script>

