﻿

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Clientes</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped dt-responsive tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Tipo Cliente</th>
                                <th>Nombre</th>
                                <th>Tipo Documento</th>
                                <th>N Documento</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Celular</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblCliente Cli in ViewBag.Cliente)
                            {

                                <tr>
                                    <td>@Cli.Codigo</td>
                                    <td>@Cli.TipoCliente.Descripcion</td>
                                    <td>@Cli.Nombre</td>
                                    <td>@Cli.TipoDocumentoIdentidad.Descripcion</td>
                                    <td>@Cli.Documento</td>
                                    <td>@Cli.Direccion</td>
                                    <td>@Cli.Telefono</td>
                                    <td>@Cli.Celular</td>
                                    <td>@Cli.Email</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Modificar" asp-controller="Clientes" asp-route-id="@Cli.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')"  asp-controller="Clientes" asp-route-id="@Cli.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


<script>
    $(document).ready(function () {
        $(".tablas").DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
                "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
                "infoFiltered": "(Filtrado de _MAX_ total Registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Registros",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            pageLength: 5,
            lengthMenu: [
                [5, 10, 20, -1],
                [5, 10, 20, 'Todos']
            ]
        });
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btnEnviar").on("click", function (event) {

            //event.preventDefault();

            swal("Registro Eliminado", "You clicked the button!", "success")

        });

    });


</script>
