﻿@model VmFile
@{
    Layout = null;
}
<br />

<form id="Actsoli" asp-action="Actsoli" asp-controller="Solicitudes" method="post">
    <input type="hidden" asp-for="solicitud.Id" />
    <input type="hidden" asp-for="solicitud.Nomfile" />
    <input type="hidden" asp-for="solicitud.NumeroSolicitud" />
    <input type="hidden" asp-for="solicitud.PersonaContacto" />
    <input type="hidden" asp-for="solicitud.FechaSolicitud" />
    <input type="hidden" asp-for="solicitud.Estadofile" />
    <input type="hidden" asp-for="solicitud.ClienteId" />
    <input type="hidden" asp-for="solicitud.Cancelaestado" />
    <div class="col-md-12">
        <div class="row form-group">
            <div class="col-md-3">
                <label for="inputEmail4">Solicitado Desde</label>
                <select asp-for="solicitud.Solicitadode" class="form-control">
                    <option value="Pagina web">Pagina web</option>
                    <option value="Correo">Correo</option>
                    <option value="Facebook">Facebook</option>
                    <option value="Telefono">Telefono</option>
                    <option value="Wsp">Wsp</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputEmail4">Idioma</label>
                <select asp-for="solicitud.Idioma" class="form-control">
                    <option value="Ingles">Ingles</option>
                    <option value="Español">Español</option>
                    <option value="Frances">Frances</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputEmail4">Llegada</label>
                <select asp-for="solicitud.Mediollegada" class="form-control">
                    <option value="Bus">Bus</option>
                    <option value="Avion">Avion</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Destino</label>
                <select asp-for="solicitud.DestinoId" asp-items="ViewBag.Destinos" class="form-control">
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label>Tipo de reserva</label>
                <div class="checkbox">
                    <label><input asp-for="solicitud.BoletoAereo">Boleto</label>
                    <label><input asp-for="solicitud.Hotel">Hotel</label>
                    <label><input asp-for="solicitud.Traslado">Traslado</label>
                    <label><input asp-for="solicitud.Excursion">Excursión</label>
                    <label><input asp-for="solicitud.Guias">Guias</label>
                    <label><input asp-for="solicitud.SeguroViajes">Seguro</label>
                    <label><input asp-for="solicitud.AlquilerCarro">Alquier de Carro</label>
                </div>
            </div>
        </div>
        <div class="row form-group col-md-12">
            <label>Cantidad de Personas</label>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="form-group col-md-1">
                    <label>Adultos</label><input asp-for="solicitud.Cntadulto" type="number" min="0" max="5" class="form-control">
                </div>
                <div class="form-group col-md-1">
                    <label>Niños</label><input asp-for="solicitud.Cntnino" type="number" min="0" max="5" class="form-control">
                </div>
                <div class="form-group col-md-1">
                    <label>Infantes</label><input asp-for="solicitud.Cntinfa" type="number" min="0" max="5" class="form-control">
                </div>
            </div>
        </div>
        <div class="row form-group col-md-12">
            <label>Fecha y horarios</label>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Fecha de Ida</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input required asp-for="solicitud.FechaIn" type="text" class="form-control pull-right datepicker" placeholder="Fecha">
                    </div>
                    <span asp-validation-for="solicitud.FechaIn" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Fecha de retorno</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input required asp-for="solicitud.FechaOut" type="text" class="form-control pull-right datepicker" placeholder="Fecha">
                    </div>
                    <span asp-validation-for="solicitud.FechaOut" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-md-3 bootstrap-timepicker">
                    <label for="inputEmail4">Horario de Ida</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input asp-for="solicitud.HoraVueloIda" type="text" class="form-control timepicker">
                    </div>
                </div>
                <div class="form-group col-md-3 bootstrap-timepicker">
                    <label for="inputEmail4">Horario de retorno</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <input asp-for="solicitud.HoraVueloRegreso" type="text" class="form-control timepicker">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for=""></label>
            <br />
            <button class="btn btn-primary"><i class="fa fa-save"></i> Actualizar</button>
        </div>
    </div>
</form>