﻿@model VmFile
@{
    Layout = null;
}
<br />
<form id="NuevaLCliente" method="post" enctype="multipart/form-data">
    @{
        if (Model.Lcliente.Id == 0)
        {
            <input type="hidden" asp-for="Lcliente.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            <input type="hidden" asp-for="Lcliente.Id" />
            <input type="hidden" asp-for="Lcliente.SolicitudId" />
        }
    }

<div class="col-md-12">
    <div class="form-group col-md-3">
        <label>Fecha de Liquidación</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>
            <input asp-for="Lcliente.FechaLcliente" type="text" class="form-control pull-right datepicker">
        </div>
        <span asp-validation-for="Lcliente.FechaLcliente" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label>N° Voucher</label>
        <input asp-for="Lcliente.NumeVouch" class="form-control">
        <span asp-validation-for="Lcliente.NumeVouch" class="text-danger"></span>
    </div>
    
    <div class="form-group col-md-3">
        <label>Forma de Pago</label>
        <select asp-for="Lcliente.FormaPago" class="form-control">
            <option value="Tarjeta de Credito">Tarjeta de Credito</option>
            <option value="Efectivo">Efectivo</option>
            <option value="Pago Efectivo">Pago Efectivo</option>
        </select>
    </div>
    <div class="form-group col-md-2">
        <label>Banco</label>
        <select asp-for="Lcliente.Banco" class="form-control">
            <option value="BCP">BCP</option>
            <option value="Banco de la Nacion">Banco de la Nacion</option>
            <option value="Interbank">Interbank</option>
            <option value="Banco Azteca ">Banco Azteca</option>
            <option value="Banco Agrario">Banco Agrario</option>
        </select>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group col-md-3">
        <label>Titular</label>
        <input asp-for="Lcliente.Titular" class="form-control">
        <span asp-validation-for="Lcliente.Titular" class="text-danger"></span>
    </div>
    
    <div class="form-group col-md-3">
        <label>Numero de Tarjeta</label>
        <input asp-for="Lcliente.NumeTarjeta" onkeyup="this.value=this.value.replace(/[^\d]/,'')" class="form-control">
        <span asp-validation-for="Lcliente.NumeTarjeta" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3">
        <label>Importe</label>
        <div class="input-group date">
            <div class="input-group-addon">
                <i class="fa fa-usd"></i>
            </div>
            <input asp-for="Lcliente.Monto" class="form-control pull-right">
        </div>
        <span asp-validation-for="Lcliente.Monto" class="text-danger"></span>
    </div>
</div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            @{
                if (Model.Lcliente.Id == 0)
                {
                    <label>Archivo de Cotización</label>
                    <input asp-for="Lcliente.Doc">
                }
                else
                {
                    <!-- Check -->
                    <label class="switch fileup">
                        <input type="checkbox" id="Lcli_Change" name="chek" onclick="ChangeCheck(this)">
                        <span class="slider round">Actualizar documento</span>
                    </label>
                    <label class="fileup">
                        <input asp-for="Lcliente.Documentonombre" name="namefile" type="text" readonly style="display:block" />
                    </label>
                    <input asp-for="Lcliente.Doc" style="display:none">
                }
            }
            <div id="rptLcli" name="respuesta" style="font-weight: bold;"></div>
            <input type="hidden" id="ValidaLcli" name="validador" value="false" />
        </div>
        <div class="form-group col-md-2">
            <br />
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(Model.Lcliente.Id == 0 ? "Registrar" : "Actualizar")</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

    });
</script>

<script>
    var montoEditLcli;
    //CUANDO SE CAMBIA EL ARCHIVO
    $('#NuevaLCliente input:file').on('change', function () {

        $("#rptLcli").html('Cargando archivo, espere .....');
        file = this.files[0];
        if (file != null) {
            var data = new FormData();
            data.append(file.name, file);
            $.ajax({
                type: 'POST',
                url: '/Ajax/ValidarArchivo2/',
                contentType: false,
                processData: false,
                data: data,
                success: function (response) {
                    //representa que el archivo ingresado es correcto y puede ser subido
                    $("#rptLcli").html(response.span);
                    $("#ValidaLcli").val(response.value);
                },
                error: function (response) {
                    console.log(response.msg);
                }
            });
        }
        else {
            $("#rptLcli").html('');
            $("#ValidaLcli").val(false);
        }

    })

    //REGISTRAR O ACTUALIZAR
    $("#NuevaLCliente").on("submit", function (e) { //GUARDAR ACTUALIZAR
        //REGISTRO O ACTUALIZAR
        e.preventDefault();
        var validation = ValidadorFormulario(this);
        var reg = false; //REPRESENTA LA ACCION DE ACTUALIZAR

        if (validation.rpta) {

            var idcoti = $("#Lcliente_Id").val();
            if (idcoti == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
                reg = true; //SE HACE UN INSERT
            }

            SwallEsperarLc("reg", reg);

        } else {
            Swal.fire(
                'Error',
                validation.msag,
                'error'
            )
        }

    });

    function SwallEsperarLc(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarLc(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {
                        ObtenerDatosLc(reg)
                    }, 500);
                }
            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarLc(reg) {
        var formu = $('#NuevaLCliente')[0];//AGREGE ESTO PARA OBTENER EL FORMULARIO para llamar a sus elementos luego
        var data = new FormData(formu);
        var total = $('#tbl-detalle-licli tfoot td:eq(0)').text();

        $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevaLicli/',
            cache: false,
            contentType: false,
            processData: false,
            data: data,
            success: function (response) {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR

                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);
                        var content = "";
                        content += '<tr id="tr_lc_' + detalle.id + '">';
                        content += '<td>' + convertDate(detalle.fechaLcliente) + '</td>';
                        content += '<td>' + detalle.formaPago + '</td>';
                        content += '<td>' + detalle.banco + '</td>';
                        content += '<td>' + IsNull(detalle.titular) + '</td>';
                        content += '<td>' + IsNull(detalle.numeTarjeta) + '</td>';
                        content += '<td>' + IsNull(detalle.numeVouch) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DLic"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        content += '</tr>';

                        $('#tbl-detalle-licli tbody').append(content);

                        //Actualizando el footer total
                        var ope = (parseFloat(total) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-licli tfoot td').eq(0).text(ope);

                        //LimiarFORM
                        $('#NuevaLCliente input:text').val('');
                        $('#NuevaLCliente input:file').val('');
                        $('#NuevaLCliente select option:first-child').attr("selected", "selected");
                        $("#rptLcli").html('');
                        $("#ValidaLcli").val(false);

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Registro completado',
                            text: 'Se registraron los datos',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var monto = IsNullM(detalle.monto);

                        var content = "";
                        content += '<td>' + convertDate(detalle.fechaLcliente) + '</td>';
                        content += '<td>' + detalle.formaPago + '</td>';
                        content += '<td>' + detalle.banco + '</td>';
                        content += '<td>' + IsNull(detalle.titular) + '</td>';
                        content += '<td>' + IsNull(detalle.numeTarjeta) + '</td>';
                        content += '<td>' + IsNull(detalle.numeVouch) + '</td>';
                        content += '<td>' + IsNull(detalle.documentonombre) + '</td>';
                        content += '<td>' + monto + '</td>';

                        content += '<td>';
                        content += '<div class="btn-group">';
                        content += '<a target="_blank" class="btn btn-block btn-success btn-xs" href="/Solicitudes/DownloadFile/' + detalle.id + '?Tipoaccion=DLic"><i class="fa fa-download"></i></a>';
                        content += '</div>';

                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="' + detalle.id + '" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        $("#tr_lc_" + detalle.id).html(content);

                        //ACTUALIZANDO EL MONTO CON EL FOOTER
                        var res = (parseFloat(total) - parseFloat(montoEditLcli)).toFixed(2);
                        var ope = (parseFloat(res) + parseFloat(monto)).toFixed(2);
                        $('#tbl-detalle-licli tfoot td').eq(0).text(ope);

                        $('#Lcliente_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        $('#NuevaLCliente .fileup').remove(); //ELIMINO LOS CONTENODRES DEL CHECK FILE ACUTALIZAR

                        $('#NuevaLCliente input:text').val('');
                        formu.querySelectorAll('input[type=file]')[0].style.display = "block"; //MUESTRO EL INPUT FYLE SI ESTA OCULTO O NO

                        $('#NuevaLCliente input:file').val('');
                        $('#NuevaLCliente select option:first-child').attr("selected", "selected");
                        $("#rptLcli").html('');
                        $("#ValidaLcli").val(false);

                        $("#NuevaLCliente button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //CODIGO PARA EL OBTENER DATOS EDITAR
    $("body").on("click", '#tbl-detalle-licli a.btn-warning', function (e) {
        e.preventDefault();
        var id = $(this).data('id');
        SwallEsperarLc("get", id);
    });

    function ObtenerDatosLc(id) {
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleLicli?id=' + id + '&tipo=edit',
            cache: false,
            success: function (response) {
                if (response.rpt) {
                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfLicli/',
                        cache: false,
                        success: function (response) {
                            $("#frm_licl").html(response);
                            //Restableciendo la validacion
                            $("#NuevaLCliente").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevaLCliente");
                            $("#frm_licl span.text-danger").removeClass('field-validation-valid');
                        //CAPTURADOR MONTO EDITAR
                            montoEditLcli = $('#Lcliente_Monto').val();
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //BOTON DE ELIMINAR
    $("body").on("click", '#tbl-detalle-licli a.btn-danger', function () {
        var id = $(this).data('id');
        //SWALL DE ACTIVACION VA AQUI

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: false,
            customClass: {
                confirmButton: 'btn btn-success swal',
                cancelButton: 'btn btn-danger swal'
            },
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro de eliminar?',
            text: "El registro a descartar no sera posible de recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false,
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            preConfirm: function () {
                return new Promise(function (resolve) {
                    setTimeout(function () {
                        resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
                        DeleteLicli(id) //SE LLAMA AL METODO ELIMINAR
                    }, 900)
                })
            }
        }).then((result) => {
            if (result.value) {
                swalWithBootstrapButtons.fire(
                    'Eliminado!',
                    'El registro ha sido eliminado.',
                    'success'
                )
            }
        })

    });

    function DeleteLicli(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetalleLicli?id=' + id + '&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {

                    var total = $('#tbl-detalle-licli tfoot td:eq(0)').text();
                    var monto = response.data.monto;
                    var ope = (parseFloat(total) - parseFloat(monto)).toFixed(2);

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_lc_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE
                    $('#tbl-detalle-licli tfoot td').eq(0).text(ope); //SE ASIGNA EL NUEVO MONTO TOTAL
                    //EL SWALL BUENO VA AQUI CREOs
                }
                else {
                    Swal.fire(
                        'Error',
                        'No se pudo eliminar el registro',
                        'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>