﻿@model VmFile
@{
    Layout = null;
}
<form id="NuevoPasajero" method="post">
    @{
        if (Model.pasajero.Id == 0)
        {
            <input type="hidden" asp-for="pasajero.SolicitudId" value="@Model.solicitud.Id" />
        }
        else
        {
            <input type="hidden" asp-for="pasajero.Id" />
            <input type="hidden" asp-for="pasajero.SolicitudId" />
        }
    }
    <br />
    <div class="col-md-12">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEmail4">Nombres y Apellidos</label>
                <input asp-for="pasajero.NombresPasajeros" class="form-control" placeholder="Digite los nombres y apellidos">
                <span asp-validation-for="pasajero.NombresPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label>Tipo de Pasajero</label>
                <select asp-for="pasajero.TipoPasajeroId" asp-items="ViewBag.TPasaj" class="form-control">
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Documento de identidad</label>
                <select asp-for="pasajero.TipoDocumentoIdentidadId" asp-items="ViewBag.Documentos" class="form-control">
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Nacionalidad</label>
                <select asp-for="pasajero.Nacionalidad" class="form-control">
                    <option value="EE.UU" selected>EE.UU</option>
                    <option value="Peruana">Peruana</option>
                    <option value="Colombiana">Colombiana</option>
                    <option value="Chilena">Chilena</option>
                    <option value="MX">MX</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label>Numero de Documento</label>
                <input asp-for="pasajero.NumeroDucumento" onkeyup="this.value=this.value.replace(/[^\d]/,'')" type="text" class="form-control">
                <span asp-validation-for="pasajero.NumeroDucumento" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label>Edad</label>
                <input asp-for="pasajero.Edad" min="1" max="150" class="form-control" placeholder="Edad">
                <span asp-validation-for="pasajero.Edad" class="text-danger"></span>
            </div>
            
            <!-- Funcionalidad de habi/des este campos -->
            <div class="form-group col-md-2">
                <label>Pasajero Principal</label>
                <div class="checkbox">
                    @*<label><input asp-for="pasajero.Principal" disabled="@(ViewBag.PasaPrincipal)">Principal</label>*@
                    <label><input asp-for="pasajero.Principal" disabled="@(ViewBag.PasaPrincipal)">Principal</label>
                </div>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label for="inputAddress"></label>
            <br />
            @if (ViewBag.TPasaj != null)
            {
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    @(Model.pasajero.Id == 0 ? "Registrar" : "Actualizar")
                </button>
            }

        </div>
    </div>
</form>

<script>

    $("#NuevoPasajero").on("submit", function (e) {
        e.preventDefault();
        var reg;

        var idreserva = $("#pasajero_Id").val();
        if (idreserva == null) { //SI NO EXISTE EL CAMPO RESERVA.ID
            reg = true; //SE HACE UN INSERT
        } else {
            reg = false; //ES UN ACTUALIZAR
        }

        SwallEsperarPa("reg",reg);

    });

    function SwallEsperarPa(tipo, reg) { //La variable tipo hacer referencia a la accion si va a hacer un registro/actualización, o obtenecion de datos, el reg es la variable empleada por separado para cada un de esos metodos

        Swal.fire({
            title: 'Completando acción',
            text: 'Cargando',
            icon: '',
            timer: 0,
            timerProgressBar: false,
            showConfirmButton: false,
            onBeforeOpen() {
                Swal.showLoading()
            },
            onOpen() {
                if (tipo == "reg") {
                    setTimeout(function () {
                        RegistroActualizarPa(reg)
                    }, 500);
                }
                else if (tipo == "get") {
                    setTimeout(function () {    
                        ObtenerDatosPa(reg)
                    }, 500);
                }

            },
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
        })

    }

    function RegistroActualizarPa(reg) {
            $.ajax({
            type: 'POST',
            url: '/Solicitudes/NuevoPasajero/',
            data: $('#NuevoPasajero').serialize(),
            success: function(response)
            {
                if (response.rpt) {

                    if (reg) { //ACCIONES PARA EL REGISTRAR

                    var detalle = response.data;
                    var bag;
                    if (detalle.principal === true) { bag = '<small class="label bg-blue">Principal</small>' } else { bag = '-' };
                    var content = "";
                    content += '<tr id="tr_pa_' + detalle.id + '">';
                    content += '<td>' + IsNull(detalle.nombresPasajeros) + '</td>';
                    content += '<td>' + IsNull(detalle.edad) + '</td>';
                    content += '<td>' + detalle.nacionalidad + '</td>';
                    content += '<td>' + detalle.tipoPasajero.descripcion + '</td>';
                    content += '<td>' + detalle.tipoDocumentoIdentidad.descripcion + '</td>';
                    content += '<td>' + IsNull(detalle.numeroDucumento) + '</td>';
                    content += '<td>' + bag + '</td>';
                    content += '<td>';
                    content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                    content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                    content += '</td>';
                    content += '</tr>';

                    $('#tbl-detalle-pasajero tbody').append(content);

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO 
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfPasajero?tipo=new',
                        cache: false,
                        success: function (response) {
                            $("#frm_pasa").html(response);
                            //Restableciendo la validacion
                            $("#NuevoPasajero").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevoPasajero");
                            $("#frm_pasa span.text-danger").removeClass('field-validation-valid');
                        }
                    });


                    ////LimiarFORM
                    //$('#NuevoPasajero input:text').val('');
                    //$('#NuevoPasajero input:checkbox').prop('checked', false);
                    //$('#NuevoPasajero select option:first-child').attr("selected", "selected");

                    //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Registro completado',
                        text: 'Se registraron los datos',
                        icon: 'success',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    //CERRAMOS EL SWAL OK
                    setTimeout(() => {
                        Swal.close()
                    }, 800);

                    }
                    else {//ACCIONES PARA EL ACTUALIZAR
                        var detalle = response.data;
                        var bag;
                        if (detalle.principal === true) { bag = '<small class="label bg-blue">Principal</small>' } else { bag = '-' };
                        var content = "";
                        content += '<td>' + IsNull(detalle.nombresPasajeros) + '</td>';
                        content += '<td>' + IsNull(detalle.edad) + '</td>';
                        content += '<td>' + detalle.nacionalidad + '</td>';
                        content += '<td>' + detalle.tipoPasajero.descripcion + '</td>';
                        content += '<td>' + detalle.tipoDocumentoIdentidad.descripcion + '</td>';
                        content += '<td>' + IsNull(detalle.numeroDucumento) + '</td>';
                        content += '<td>' + bag + '</td>';
                        content += '<td>';
                        content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-warning btn-xs" > <i class="fa fa-pencil"></i></a ></div >';
                        content += '<div class="btn-group"><a data-id="'+detalle.id+'" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a></div>';
                        content += '</td>';

                        $("#tr_pa_" + detalle.id).html(content);

                        //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO 
                        $.ajax({
                            type: 'POST',
                            url: '/Solicitudes/RfPasajero?tipo=new',
                            cache: false,
                            success: function (response) {
                                $("#frm_pasa").html(response);
                                //Restableciendo la validacion
                                $("#NuevoPasajero").each(function () { $.data($(this)[0], 'validator', false); });
                                $.validator.unobtrusive.parse("#NuevoPasajero");
                                $("#frm_pasa span.text-danger").removeClass('field-validation-valid');
                            }
                        });

                        //$('#pasajero_Id').remove(); //ELIMINO EL CAMPO DE RESERVA ID DEL FORM
                        //$('#NuevoPasajero input:text').val('');
                        //$('#NuevoPasajero input[type=number]').val('');
                        //$('#NuevoPasajero input:checkbox').prop('checked', false);
                        //$('#NuevoPasajero select option:first-child').attr("selected", "selected");
                        //$("#NuevoPasajero button").html('<i class="fa fa-save"></i> Registrar');

                        //DESPUES QUE EL SWAL ESTA CARGANDO Y TERMINA SUS FUNCIONES LO HACEMOS APARECER CORRECTO Y LUEGO CERRAMOS
                        Swal.hideLoading()
                        Swal.update({
                            title: 'Actualización completada',
                            text: 'Se Actualizo el registro',
                            icon: 'success',
                            timer: 1000,
                            timerProgressBar: true
                        })
                        //CERRAMOS EL SWAL OK
                        setTimeout(() => {
                            Swal.close()
                        }, 800);
                    }
                }
                else {
                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudo completar la acción',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
                error: function () {
                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    //METODO OBTENER DATOS ACTUALIZAR
    $("body").on("click", '#tbl-detalle-pasajero a.btn-warning', function (e) {
    e.preventDefault();
        var id = $(this).data('id');

        SwallEsperarPa("get",id);

    });

    function ObtenerDatosPa(id) {
        $.ajax({
        type: 'POST',
        url: '/Solicitudes/GetDetallePasa?id='+id+'&tipo=edit',
        cache: false,
        success: function(response)
            {
                if (response.rpt) {
                //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO 
                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfPasajero?tipo=edit',
                        cache: false,
                        success: function (response) {
                            $("#frm_pasa").html(response);
                            //Restableciendo la validacion
                            $("#NuevoPasajero").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevoPasajero");
                            $("#frm_pasa span.text-danger").removeClass('field-validation-valid');
                        }
                    });
                    setTimeout(() => {
                        Swal.close()
                    }, 500);

                }
                else {

                    Swal.hideLoading()
                    Swal.update({
                        title: 'Error',
                        text: 'No se pudieron obtener los datos del registro',
                        icon: 'error',
                        timer: 1000,
                        timerProgressBar: true
                    })
                    setTimeout(() => {
                        Swal.close()
                    }, 500);
                }
            },
            error: function () {

                Swal.hideLoading()
                Swal.update({
                    title: 'Error',
                    text: 'Ocurrio un problema en el servidor',
                    icon: 'error',
                    timer: 1000,
                    timerProgressBar: true
                })
                setTimeout(() => {
                    Swal.close()
                }, 500);
            }
        });
    }

    $("body").on("click", '#tbl-detalle-pasajero a.btn-danger', function () {
        var id = $(this).data('id');
        //SWALL DE ACTIVACION VA AQUI

        const swalWithBootstrapButtons = Swal.mixin({
            buttonsStyling: false,
            customClass: {
            confirmButton: 'btn btn-success swal',
            cancelButton: 'btn btn-danger swal'
            },
        })

        swalWithBootstrapButtons.fire({
            title: 'Estas seguro de eliminar?',
            text: "El registro a descartar no sera posible de recuperar",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Eliminar',
            cancelButtonText: 'Cancelar',
            reverseButtons: false,
            showLoaderOnConfirm: true,
            allowOutsideClick: false,
            allowEscapeKey: false,
            allowEnterKey: false,
            preConfirm: function() {
            return new Promise(function(resolve) {
            setTimeout(function () {
                resolve()// AL PARECER ES UN METODO PARA HACER FUNCIONAR EL PRECONFIRM NO ESTA LIGADO A ESTE CREO
                DeletePasajeros(id) //SE LLAMA AL METODO ELIMINAR
                }, 900)
            })
            }
        }).then((result) => {
            if (result.value) {
            swalWithBootstrapButtons.fire(
                'Eliminado!',
                'El registro ha sido eliminado.',
                'success'
            )
            }
        })

    });

    function DeletePasajeros(id) {
        //ELIMINAR
        $.ajax({
            type: 'POST',
            url: '/Solicitudes/GetDetallePasa?id='+ id+'&tipo=del',
            cache: false,
            success: function (response) {
                if (response.rpt) {

                    //CODIGO PARA REALIZAR EL REFRESH DEL FORMULARIO
                    $("#tr_pa_" + id).remove(); //ELIMINA FILA ASINCORNAMENTE

                    $.ajax({
                        type: 'POST',
                        url: '/Solicitudes/RfPasajero?tipo=new',
                        cache: false,
                        success: function (response) {
                            $("#frm_pasa").html(response);
                            //Restableciendo la validacion
                            $("#NuevoPasajero").each(function () { $.data($(this)[0], 'validator', false); });
                            $.validator.unobtrusive.parse("#NuevoPasajero");
                            $("#frm_pasa span.text-danger").removeClass('field-validation-valid');
                        }
                    });

                    //EL SWALL BUENO VA AQUI CREO
                }
                else {
                    Swal.fire(
                      'Error',
                      'No se pudo eliminar el registro',
                      'error'
                    )
                }
            },
            error: function () {
                Swal.fire(
                    'Error',
                    'Ocurrio un error en la acción consulte con su proveedor',
                    'error'
                )
            }
        });
    }

</script>