﻿@model ProyectoWsicav.Models.viw_Biblia

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>viw_Biblia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombresPasajeros" class="control-label"></label>
                <input asp-for="NombresPasajeros" class="form-control" />
                <span asp-validation-for="NombresPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control" />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nPasajeros" class="control-label"></label>
                <input asp-for="nPasajeros" class="form-control" />
                <span asp-validation-for="nPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idioma" class="control-label"></label>
                <input asp-for="idioma" class="form-control" />
                <span asp-validation-for="idioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora" class="control-label"></label>
                <input asp-for="hora" class="form-control" />
                <span asp-validation-for="hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Servicios" class="control-label"></label>
                <input asp-for="Servicios" class="form-control" />
                <span asp-validation-for="Servicios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoServicio" class="control-label"></label>
                <input asp-for="TipoServicio" class="form-control" />
                <span asp-validation-for="TipoServicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                <input asp-for="Hotel" class="form-control" />
                <span asp-validation-for="Hotel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GuiaId" class="control-label"></label>
                <input asp-for="GuiaId" class="form-control" />
                <span asp-validation-for="GuiaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehiculoId" class="control-label"></label>
                <input asp-for="VehiculoId" class="form-control" />
                <span asp-validation-for="VehiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservaDetalleId" class="control-label"></label>
                <input asp-for="ReservaDetalleId" class="form-control" />
                <span asp-validation-for="ReservaDetalleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaIn" class="control-label"></label>
                <input asp-for="FechaIn" class="form-control" />
                <span asp-validation-for="FechaIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
