﻿@model IEnumerable<ProyectoWsicav.ViewModel.VmBiblia>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombresPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nPasajeros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idioma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombresPasajeros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Files)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nPasajeros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idioma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Servicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuiaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehiculoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FechaIn)
                </td>
                <td>
                    <div class="editSelect" data-id="@item.ReservaDetalleId" data-propertyname="GuiaId" data-propertynameid=@item.GuiaId>   @Html.DisplayFor(modelItem => item.Guia)</div>
                </td>
                <td>
                    <div class="editSelect2" data-id="@item.ReservaDetalleId" data-propertyname="VehiculoId" data-propertynameid=@item.VehiculoId>   @Html.DisplayFor(modelItem => item.Movilidad)</div>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />


<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://www.appelsiini.net/download/jquery.jeditable.js"></script>
<script src="~/Scripts/jquery.jeditable.datepicker.js"></script>
<script>
        $(document).ready(function () {
            var oldValue = '';
            $('.edit').editable('/Destinos/saveuser', {
                cssclass: 'jeditForm',
                tooltip: 'click to edit me...',
                width: 'none',
                height: 'none',
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })
            //--------------------------editar guia
            $('.editSelect').editable('/Biblia/saveuser', {
                cssclass: 'jeditForm',
                tooltip: 'click to edit me...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: '/Biblia/GetGuia',
                loaddata: function () {
                    return {id: $(this).data('propertynameid')}
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })

            $('.editSelect').click(function () {
                $('select', this).addClass('form-control pull-left w100');
                $('button', this).addClass('btn btn-sm btn-success margin10')
            })
            //-----------------------------------editar vehiculo
             $('.editSelect2').editable('/Biblia/saveuser', {
                cssclass: 'jeditForm',
                tooltip: 'click to edit me...',
                width: 'none',
                height: 'none',
                type: 'select',
                submit: 'Ok',
                loadurl: '/Biblia/GetVehiculo',
                loaddata: function () {
                    return {id: $(this).data('propertynameid')}
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })

            $('.editSelect2').click(function () {
                $('select', this).addClass('form-control pull-left w100');
                $('button', this).addClass('btn btn-sm btn-success margin10')
            })



            //-------------------------------
            $('.editDate').editable('/Destinos/saveuser', {
                cssclass: 'jeditForm',
                tooltip: 'click to edit me...',
                type: 'datepicker',
                datepicker: {
                    dateFormat: 'dd-mm-yy',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '1900:' +(new Date().getFullYear()  - 18)
                },
                onsubmit: function (settings, original) {
                    oldValue = original.revert;
                },
                submitdata: function () {
                    return {
                        id: $(this).data('id'),
                        PropertyName: $(this).data('propertyname')
                    }
                },
                callback: function (value, settings) {
                    var jsonData = $.parseJSON(value);
                    if (jsonData.status) {
                        $(this).text(jsonData.value);
                    }
                    else {
                        $(this).text(oldValue);
                    }
                }
            })
        })
</script>
