﻿@model TblProveedor

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Proveedores</h3>
            <form asp-action="GuardarProveedor" asp-controller="Proveedores" method="post">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo</label>
                        <input type="text" class="form-control" asp-for="Codigo" placeholder="Ingrese Codigo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre / Razon Social</label>
                        <input type="text" class="form-control" asp-for="Nombre" placeholder="Ingrese Nombre / Razon Social">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tipo de Documento(*)</label>
                        <select asp-for="TipoDocumentoIdentidadId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoDocumentoIdentidad, "Id", "Descripcion"))">
                            <option>Seleccione</option>
                        </select>

                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAddress">Numero de Documento</label>
                        <input type="text" class="form-control" asp-for="Documento"placeholder="Num Documento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Direccion</label>
                        <input type="text" class="form-control" asp-for="Direccion" placeholder="Ingrese Direccion">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Telefono</label>
                        <input type="text" class="form-control" asp-for="Telefono" placeholder="Ingrese Telefono">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Email</label>
                        <input type="text" class="form-control" asp-for="Email" placeholder="Ingrese Email">
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputAddress"></label>
                    <br />
                    <button class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>