﻿
@model  TblGuia

<br />
<div class="col-md-12">
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Registro de Guias</h3>
            <form asp-action="GuardarGuia" asp-controller="Guias" method="post">
                <br />
                <input type="hidden" asp-for="Id" />
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="inputEmail4">Codigo</label>
                        <input type="text" class="form-control" asp-for="Codigo" placeholder="Ingrese Codigo">
                    </div>
                    <div class="form-group col-md-2">
                        <label>Tipo de Documento(*)</label>
                        <select asp-for="TipoDocumentoIdentidadId" class="form-control" asp-items="@(new SelectList(ViewBag.TblTipoDocumentoIdentidad, "Id", "Descripcion"))">
                            <option>Seleccione</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputAddress">N° de Documento</label>
                        <input type="text" class="form-control" asp-for="NumDocumento" placeholder="Num Documento">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Apellidos</label>
                        <input type="text" class="form-control" asp-for="Apellidos" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Nombres</label>
                        <input type="text" class="form-control" asp-for="Nombres" placeholder="Ingrese Nombres">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPassword4">Direccion</label>
                        <input type="text" class="form-control" asp-for="Direccion" placeholder="Ingrese Direccion">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputPassword4">Telefono</label>
                        <input type="text" class="form-control" asp-for="Telefono" placeholder="Ingrese Telefono">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">Email</label>
                        <input type="text" class="form-control" asp-for="Email" placeholder="Ingrese Celular">
                    </div>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputAddress"></label>
                    <br />
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>
