﻿
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title" style="font-weight:bold;">Listado de Guias</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="tablaCliente" class="table table-bordered table-striped dt-responsive tablas">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Tipo Documento</th>
                                <th>N° Documento</th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (TblGuia Gui in ViewBag.Guia)
                            {

                                <tr>
                                    <td>@Gui.Codigo</td>
                                    <td>@Gui.TipoDocumentoIdentidad.Descripcion</td>
                                    <td>@Gui.NumDocumento</td>
                                    <td>@Gui.Apellidos</td>
                                    <td>@Gui.Nombres</td>
                                    <td>@Gui.Direccion</td>
                                    <td>@Gui.Telefono</td>
                                    <td>@Gui.Email</td>
                                    <td>
                                        <div class="btn-group">
                                            <a asp-action="Modificar" asp-controller="Guias" asp-route-id="@Gui.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-refresh"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            <a asp-action="Eliminar" onclick="return confirm('¿Desea eliminar este registro?')" asp-controller="Guias" asp-route-id="@Gui.Id" class="btn btn-block btn-danger btn-xs btnEliminar"><i class="fa fa-ban"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
