﻿@model Tuple<TblSolicitud, TblPasajeros, TblReservasDetalle, VCotizacion, VLicliente, VLiprovee, VFactura>
<style>
    .a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
    }

    .a2 {
        background-color: #34495E;
    }
</style>
<br />
<div class="col-xs-2">

</div>

<div class="col-xs-8">
    <div class="box box-danger">
        <div class="box-header with-border">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>File</label>
                    <input asp-for="Item1.Nomfile" class="form-control" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Solicitud</label>
                    <input asp-for="Item1.NumeroSolicitud" type="text" class="form-control" readonly>
                </div>
                <div class="form-group col-md-4">
                    <label>Cliente</label>
                    <input asp-for="Item1.Cliente.Nombre" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Fecha solicitud</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="Item1.FechaSolicitud" type="text" class="form-control pull-right" readonly>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Usuario</label>
                    <input type="text" class="form-control" readonly value="Administrador">
                </div>
                <div class="form-group col-md-4">
                    <label>Estatus solicitud</label>
                    <input type="text" class="form-control" readonly value="@ViewBag.TipoEstaSolicitud" >
                </div>
            </div>
            <div class="form-row text-center">
                <div class="btn-group">
                    <a asp-action="" asp-route-id="@ViewBag.DetalleSolicitud.Id" class="btn btn-warning"><i class="fa fa-chevron-left"></i>&nbsp;Volver</a>
                </div>
                <div class="btn-group">
                    <a asp-action="Editar2" asp-route-id="@ViewBag.DetalleSolicitud.Id" class="btn btn-success"><i class="fa fa-pencil"></i>&nbsp;Editar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>

<div class="col-md-12">
    @*<h1>@ViewBag.Caramelo</h1>*@
    <br />
    <div class="box box-primary">
        <div class="box-header with-border">
            <ul class="nav nav-tabs flex-wrap">
                <li class="active"><a data-toggle="tab" href="#home" class="a a2">Datos</a></li>
                <li class=""><a data-toggle="tab" href="#menu1" class="a a2">Pasajeros</a></li>
                <li class=""><a data-toggle="tab" href="#menu3" class="a a2">Cotización </a></li>
                <li class=""><a data-toggle="tab" href="#menu2" class="a a2">Reservas</a></li>
                <li class=""><a data-toggle="tab" href="#menu4" class="a a2">Liquidacion Cliente </a></li>
                <li class=""><a data-toggle="tab" href="#menu5" class="a a2">Liquidacion Proveedor </a></li>
                <li class=""><a data-toggle="tab" href="#menu6" class="a a2">Facturación</a></li>
            </ul>
            <div class="tab-content">
                <!-- Datos del file -->
                <div id="home" class="tab-pane fade in active">
                    <br />
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="inputEmail4">Solicitado Desde</label>
                                <select disabled asp-for="Item1.Solicitadode" class="form-control" readonly>
                                    <option value="Pagina web">Pagina web</option>
                                    <option value="Correo">Correo</option>
                                    <option value="Facebook">Facebook</option>
                                    <option value="Telefono">Telefono</option>
                                    <option value="Wsp">Wsp</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="inputEmail4">Idioma</label>
                                <select disabled asp-for="Item1.Idioma" class="form-control" readonly>
                                    <option value="Ingles">Ingles</option>
                                    <option value="Español">Español</option>
                                    <option value="Frances">Frances</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="inputEmail4">Llegada</label>
                                <select disabled asp-for="Item1.Mediollegada" class="form-control" readonly>
                                    <option value="Bus">Bus</option>
                                    <option value="Avion">Avion</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Destino</label>
                                @{
                                    if (!(ViewBag.DetalleSolicitud.DestinoId is null))
                                    {
                                        <select disabled asp-for="Item1.DestinoId" class="form-control" readonly>
                                            <option disabled selected>@ViewBag.DetalleSolicitud.Destino.Nombre</option>
                                        </select>
                                    }
                                    else
                                    {
                                        <select disabled class="form-control" readonly>
                                            <option disabled selected></option>
                                        </select>
                                    }
                                }
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label>Tipo de reserva</label>
                                <div class="checkbox">
                                    <label><input asp-for="Item1.BoletoAereo" disabled>Boleto</label>
                                    <label><input asp-for="Item1.Hotel" disabled>Hotel</label>
                                    <label><input asp-for="Item1.Traslado" disabled>Traslado</label>
                                    <label><input asp-for="Item1.Excursion" disabled>Excursión</label>
                                    <label><input asp-for="Item1.Guias" disabled>Guias</label>
                                    <label><input asp-for="Item1.SeguroViajes" disabled>Seguro</label>
                                    <label><input asp-for="Item1.AlquilerCarro" disabled>Alquier de Carro</label>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group col-md-12">
                            <label>Cantidad de Personas</label>
                        </div>
                        <div class="row ">
                            <div class="col-md-12">
                                <div class="form-group col-md-1">
                                    <label>Adultos</label><input asp-for="Item1.Cntadulto" type="number" readonly min="0" max="5" class="form-control">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Niños</label><input asp-for="Item1.Cntnino" type="number" readonly min="0" max="5" class="form-control">
                                </div>
                                <div class="form-group col-md-1">
                                    <label>Infantes</label><input asp-for="Item1.Cntinfa" type="number" readonly min="0" max="5" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group col-md-12">
                            <label>Fecha y horarios</label>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Fecha de Ida</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="Item1.FechaIn" type="text" readonly class="form-control pull-right datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Fecha de retorno</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input asp-for="Item1.FechaOut" type="text" readonly class="form-control pull-right datepicker" placeholder="Fecha">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group col-md-3 bootstrap-timepicker">
                                    <label for="inputEmail4">Horario de Ida</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input asp-for="Item1.HoraVueloIda" type="text" readonly class="form-control timepicker">
                                    </div>
                                </div>
                                <div class="form-group col-md-3 bootstrap-timepicker">
                                    <label for="inputEmail4">Horario de retorno</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <input asp-for="Item1.HoraVueloRegreso" type="text" readonly class="form-control timepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Datos pasajeros -->
                <div id="menu1" class="tab-pane fade">
                    <br />
                    <!-- Tabla de pasajeros -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Nombre y Apellidos</th>
                                                    <th>Edad</th>
                                                    <th>Nacionalidad</th>
                                                    <th>Tipo Pasajero</th>
                                                    <th>Documento de identidad</th>
                                                    <th>Numero Documento</th>
                                                    <th>Principal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblPasajeros p in ViewBag.DetallePasaj)
                                                {
                                                    <tr>
                                                        <td>@p.NombresPasajeros</td>
                                                        <td>@p.Edad</td>
                                                        <td>@p.Nacionalidad</td>
                                                        <td>@p.TipoPasajero.Descripcion</td>
                                                        <td>@p.TipoDocumentoIdentidad.Descripcion</td>
                                                        <td>@p.NumeroDucumento</td>
                                                        <td>
                                                            @if (p.Principal == true)
                                                            {<small class="label bg-blue">Principal</small>}
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->
                </div>

                <!-- Datos cotizacion -->
                <div id="menu3" class="tab-pane fade">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title" style="font-weight: bold;">Listado de Cotizaciones</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla1" class="table table-bordered table-striped tablas">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Cotización</th>
                                                    <th>Numero Cotización</th>
                                                    <th>Monto Total</th>
                                                    <th>Archivo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblCotizacion c in ViewBag.DetalleCoti)
                                                {
                                                    <tr>

                                                        <td>@String.Format("{0:dd/MM/yyyy}", c.FechaCotizacion)</td>
                                                        <td>@c.NumeCotizacion</td>
                                                        <td>@c.Monto</td>
                                                        <td>@c.Documentonombre</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a asp-action="DownloadFile" asp-route-Tipoaccion="DCoti" asp-route-Id="@c.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <!-- Datos reservaciones -->
                <div id="menu2" class="tab-pane fade">
                    <br />
                    <!-- Tabla de Reservación content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla2" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tipo Reserva</th>
                                                    <th>Localizador</th>
                                                    <th>Fecha de Reservación</th>
                                                    <th>Fecha Limite</th>
                                                    <th>Proveedor</th>
                                                    <th>Operador</th>
                                                    <th>Servicio Extra</th>
                                                    <th>Importe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblReservasDetalle p in ViewBag.DetalleReserva)
                                                {
                                                    <tr>
                                                        <td>@p.TipoServicio.Descripcion</td>
                                                        <td>@p.Localizador</td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaIn)</td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLimite)</td>
                                                        <td>@p.Proveedor.Nombre</td>
                                                        <td>Buganvilla</td>
                                                        <td>
                                                            @if (p.Adicional == true)
                                                            {<small class="label bg-red">Extra</small>}
                                                        </td>
                                                        <td>@p.Monto</td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="7">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@ViewBag.Sumreserva</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                    <!-- /.content -->

                </div>

                <!--Datos de LIQUIDACION CLIENTE-->
                <div id="menu4" class="tab-pane fade">
                    <br />
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla3" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Liquidacion</th>
                                                    <th>Forma de Pago</th>
                                                    <th>Banco</th>
                                                    <th>Titular</th>
                                                    <th>Número de Tarjeta</th>
                                                    <th>N° Voucher</th>
                                                    <th>Archivo </th>
                                                    <th>Importe</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblLiquiCliente p in ViewBag.DetalleLiCliente)
                                                {
                                                    <tr>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLcliente)</td>
                                                        <td>@p.FormaPago</td>
                                                        <td>@p.Banco</td>
                                                        <td>@p.Titular</td>
                                                        <td>@p.NumeTarjeta</td>
                                                        <td>@p.NumeVouch</td>
                                                        <td>@p.Documentonombre</td>
                                                        <td>@p.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLic" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="7">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@ViewBag.Sumlicli</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <!--DATOS DE LIQUIDCION PROVEEDOR-->
                <div id="menu5" class="tab-pane fade">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title">Listado</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla4" class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Liquidacion</th>
                                                    <th>Proveedor</th>
                                                    <th>Forma de Pago</th>
                                                    <th>Banco</th>
                                                    <th>Titular</th>
                                                    <th>Número de Tarjeta</th>
                                                    <th>N° voucher</th>
                                                    <th>Archivo </th>
                                                    <th>Pago por Cliente</th>
                                                    <th>Importe</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblLiquiProve p in ViewBag.DetalleLiProveedor)
                                                {
                                                    <tr>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLprove)</td>
                                                        <td>@p.Proveedor.Nombre</td>
                                                        <td>@p.FormaPago</td>
                                                        <td>@p.Banco</td>
                                                        <td>@p.Titular</td>
                                                        <td>@p.NumeTarjeta</td>
                                                        <td>@p.NumeVaucher</td>
                                                        <td>@p.Documentonombre</td>
                                                        <td>
                                                            @if (p.PagoCliente == true)
                                                            {<small class="label bg-red">Comisión</small>}
                                                        </td>
                                                        <td>@p.Monto</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLip" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="9">
                                                        <label class="pull-right">Total :</label>
                                                    </th>
                                                    <td>@ViewBag.Sumlipro</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

                <!-- Datos Facturacion -->
                <div id="menu6" class="tab-pane">
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box box-success">
                                    <div class="box-header">
                                        <h3 class="box-title" style="font-weight: bold;">Listado de Facturas</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <table id="tabla5" class="table table-bordered table-striped tablas">
                                            <thead>
                                                <tr>
                                                    <th>Fecha Facturación</th>
                                                    <th>N° de Factura</th>
                                                    <th>Monto a Facturar</th>
                                                    <th>Archivo</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (TblFactura f in ViewBag.DetalleFact)
                                                {
                                                    <tr>
                                                        <td>@f.FechaFactu</td>
                                                        <td>@f.NumeFactu</td>
                                                        <td>@f.Monto</td>
                                                        <td>@f.Documentonombre</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DFact" asp-route-Id="@f.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>
                                                            </div>
                                                            <div class="btn-group">
                                                                <a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>

            </div>
        </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $('#tabla').DataTable();
        $('#tabla1').DataTable();
        $('#tabla2').DataTable();
        $('#tabla3').DataTable();
        $('#tabla4').DataTable();
        $('#tabla5').DataTable();
    });
</script>