﻿@model Tuple<TblSolicitud, TblPasajeros, TblReservasDetalle, VCotizacion, VLicliente, VLiprovee, VFactura>
<style>
    .a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
    }

    .a2 {
        background-color: #34495E;
    }
</style>
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.css")">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css")" />
<br />

<div class="col-xs-2">

</div>
<form asp-action="CancelarRecuperar" asp-controller="Solicitudes" method="post">
    <div class="col-xs-8">
        <div class="box box-danger">
            <div class="box-header with-border">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>File</label>
                        <input asp-for="Item1.Nomfile" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Solicitud</label>
                        <input asp-for="Item1.NumeroSolicitud" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Cliente</label>
                        <input asp-for="Item1.Cliente.Nombre" type="text" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Fecha solicitud</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input asp-for="Item1.FechaSolicitud" type="text" class="form-control pull-right" readonly>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Usuario</label>
                        <input type="text" class="form-control" readonly value="Administrador">
                    </div>
                    <div class="form-group col-md-4">
                        <label>Estatus solicitud</label>
                        <input type="text" class="form-control" readonly value="@ViewBag.TipoEstaSolicitud">
                    </div>
                </div>
                <div class="form-row text-center">
                    @Html.Raw(ViewBag.boton)
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
</form>

<div class="col-md-12">
    <br />
    <div class="box box-primary">
        <div class="box-header with-border">
            <ul class="nav nav-tabs flex-wrap">
                @Html.Raw(ViewBag.navlista)

                @*<li class="active"><a data-toggle="tab" href="#home" class="a a2">Datos</a></li>
                    <li class=""><a data-toggle="tab" href="#menu1" class="a a2">Pasajeros</a></li>
                    <li class=""><a data-toggle="tab" href="#menu3" class="a a2">Cotización </a></li>
                    <li class=""><a data-toggle="tab" href="#menu2" class="a a2">Reservas</a></li>
                    <li class=""><a data-toggle="tab" href="#menu4" class="a a2">Liquidacion Cliente </a></li>
                    <li class=""><a data-toggle="tab" href="#menu5" class="a a2">Liquidacion Proveedor </a></li>
                    <li class=""><a data-toggle="tab" href="#menu6" class="a a2">Facturación</a></li>*@

            </ul>
            <div class="tab-content">
                <!-- Datos del file -->
                <div id="home" class="tab-pane fade @ViewBag.datosclas">
                    <br />
                    @{
                        if (ViewBag.stasoli is true)
                        {
                            <form asp-action="Actsoli" asp-controller="Solicitudes" method="post">
                                <input type="hidden" asp-for="Item1.Id" />
                                <input type="hidden" asp-for="Item1.Nomfile" />
                                <input type="hidden" asp-for="Item1.NumeroSolicitud" />
                                <input type="hidden" asp-for="Item1.PersonaContacto" />
                                <input type="hidden" asp-for="Item1.FechaSolicitud" />
                                <input type="hidden" asp-for="Item1.Estadofile" />
                                <input type="hidden" asp-for="Item1.ClienteId" />
                                <input type="hidden" asp-for="Item1.Cancelaestado" />
                                <div class="col-md-12">
                                    <div class="row form-group">
                                        <div class="col-md-3">
                                            <label for="inputEmail4">Solicitado Desde</label>
                                            <select asp-for="Item1.Solicitadode" class="form-control">
                                                <option value="Pagina web">Pagina web</option>
                                                <option value="Correo">Correo</option>
                                                <option value="Facebook">Facebook</option>
                                                <option value="Telefono">Telefono</option>
                                                <option value="Wsp">Wsp</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="inputEmail4">Idioma</label>
                                            <select asp-for="Item1.Idioma" class="form-control">
                                                <option value="Ingles">Ingles</option>
                                                <option value="Español">Español</option>
                                                <option value="Frances">Frances</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="inputEmail4">Llegada</label>
                                            <select asp-for="Item1.Mediollegada" class="form-control">
                                                <option value="Bus">Bus</option>
                                                <option value="Avion">Avion</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Destino</label>
                                            <select asp-for="Item1.DestinoId" asp-items="ViewBag.Destinos" class="form-control">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <label>Tipo de reserva</label>
                                            <div class="checkbox">
                                                <label><input asp-for="Item1.BoletoAereo">Boleto</label>
                                                <label><input asp-for="Item1.Hotel">Hotel</label>
                                                <label><input asp-for="Item1.Traslado">Traslado</label>
                                                <label><input asp-for="Item1.Excursion">Excursión</label>
                                                <label><input asp-for="Item1.Guias">Guias</label>
                                                <label><input asp-for="Item1.SeguroViajes">Seguro</label>
                                                <label><input asp-for="Item1.AlquilerCarro">Alquier de Carro</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="form-group col-md-5">
                                        <label for="inputEmail4">Tipo Reserva</label>
                                        <select class="form-control select2" multiple="multiple" data-placeholder="Seleccionar"
                                                style="width: 100%;">
                                            <option>Boleto</option>
                                            <option>Hotel</option>
                                            <option>Traslado</option>
                                            <option>Excursion</option>
                                            <option>Guias</option>
                                            <option>Seguro</option>
                                            <option>Alquiler de carro</option>
                                        </select>
                                    </div>
                                    -->
                                    <div class="row form-group col-md-12">
                                        <label>Cantidad de Personas</label>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-1">
                                                <label>Adultos</label><input asp-for="Item1.Cntadulto" type="number" min="0" max="5" class="form-control">
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label>Niños</label><input asp-for="Item1.Cntnino" type="number" min="0" max="5" class="form-control">
                                            </div>
                                            <div class="form-group col-md-1">
                                                <label>Infantes</label><input asp-for="Item1.Cntinfa" type="number" min="0" max="5" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group col-md-12">
                                        <label>Fecha y horarios</label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">Fecha de Ida</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input asp-for="Item1.FechaIn" type="text" class="form-control pull-right datepicker" placeholder="Fecha">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">Fecha de retorno</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input asp-for="Item1.FechaOut" type="text" class="form-control pull-right datepicker" placeholder="Fecha">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-3 bootstrap-timepicker">
                                                <label for="inputEmail4">Horario de Ida</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input asp-for="Item1.HoraVueloIda" type="text" class="form-control timepicker">
                                                </div>
                                            </div>
                                            <div class="form-group col-md-3 bootstrap-timepicker">
                                                <label for="inputEmail4">Horario de retorno</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                    <input asp-for="Item1.HoraVueloRegreso" type="text" class="form-control timepicker">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row form-group">
                                            <div class="col-md-12">
                                                <label>Fechas y horarios</label>
                                                <div class="checkbox">
                                                    <label>Fecha de ida: <input asp-for="Item1.FechaIn" type="date"></label>
                                                    <label>Fecha de retorno: <input asp-for="Item1.FechaOut" type="date"></label>
                                                </div>
                                                <div class="row form-group"></div>
                                                <div class="checkbox">
                                                    <label>Hora de ida: <input asp-for="Item1.HoraVueloIda" type="time"></label>
                                                    <label>Hora de retorno: <input asp-for="Item1.HoraVueloRegreso" type="time"></label>
                                                </div>
                                            </div>
                                        </div>*@
                                    <div class="form-group col-md-2">
                                        <label for=""></label>
                                        <br />
                                        <button class="btn btn-primary"><i class="fa fa-save"></i> Actualizar</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            @Html.Raw(ViewBag.visoli)
                        }
                    }
                </div>

                <!-- Datos pasajeros -->
                <div id="menu1" class="tab-pane fade @ViewBag.pasajclas">
                    <br />
                    @{
                        if (ViewBag.stapasa is true)
                        {
                            <form asp-action="NuevoPasajero" asp-controller="Solicitudes" id="NuevoPasajero" method="post">
                                @{
                                    if (ViewBag.EditarPasa is null)
                                    {
                                        <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearpasa" />
                                        <input type="hidden" asp-for="Item2.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                    }
                                    else
                                    {
                                        <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actupasa" />
                                        <input type="hidden" asp-for="Item2.Id" />
                                        <input type="hidden" asp-for="Item2.SolicitudId" />
                                    }
                                }
                                <br />
                                <div class="col-md-12">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="inputEmail4">Nombres y Apellidos</label>
                                            <input asp-for="Item2.NombresPasajeros" class="form-control" placeholder="Digite los nombres y apellidos">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Tipo de Pasajero</label>
                                            <select asp-for="Item2.TipoPasajeroId" asp-items="ViewBag.TPasaj" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Documento de identidad</label>
                                            <select asp-for="Item2.TipoDocumentoIdentidadId" asp-items="ViewBag.Documentos" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Nacionalidad</label>
                                            <select asp-for="Item2.Nacionalidad" class="form-control">
                                                <option value="EE.UU" selected>EE.UU</option>
                                                <option value="Peruana">Peruana</option>
                                                <option value="Colombiana">Colombiana</option>
                                                <option value="Chilena">Chilena</option>
                                                <option value="MX">MX</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Numero de Documento</label>
                                            <input asp-for="Item2.NumeroDucumento" type="text" class="form-control">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Edad</label>
                                            <input asp-for="Item2.Edad" type="text" class="form-control" placeholder="Edad">
                                        </div>
                                        <!-- Funcionalidad de habi/des este campos -->
                                        <div class="form-group col-md-2">
                                            <label>Pasajero Principal</label>
                                            <div class="checkbox">
                                                <label><input asp-for="Item2.Principal" disabled="@(ViewBag.PasaPrincipal)">Principal</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputAddress"></label>
                                        <br />
                                        <button class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            @(ViewBag.EditarPasa is null ? "Registrar" : "Actualizar")
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <!-- Tabla de pasajeros -->
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Listado</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="tbl-pasajero" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre y Apellidos</th>
                                                            <th>Edad</th>
                                                            <th>Nacionalidad</th>
                                                            <th>Tipo Pasajero</th>
                                                            <th>Documento de identidad</th>
                                                            <th>Numero Documento</th>
                                                            <th>Principal</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblPasajeros p in ViewBag.DetallePasaj)
                                                        {
                                                            <tr>
                                                                <td>@p.NombresPasajeros</td>
                                                                <td>@p.Edad</td>
                                                                <td>@p.Nacionalidad</td>
                                                                <td>@p.TipoPasajero.Descripcion</td>
                                                                <td>@p.TipoDocumentoIdentidad.Descripcion</td>
                                                                <td>@p.NumeroDucumento</td>
                                                                <td>
                                                                    @if (p.Principal == true)
                                                                    {<small class="label bg-blue">Principal</small>}
                                                                </td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevoPasajero" asp-route-Tipoaccion="Datapasa" asp-route-Pasajeroid="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevoPasajero" asp-route-Tipoaccion="Elimipasa" asp-route-Pasajeroid="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                            <!-- /.content -->
                        }
                        else
                        {
                            @Html.Raw(ViewBag.vipasa)
                        }
                    }
                </div>

                <!-- Datos Cotizacion -->
                <div id="menu3" class="tab-pane fade @ViewBag.coticlas">
                    <br />
                    @{
                        if (ViewBag.stacoti is true)
                        {
                            <div class="col-md-12">
                                <form asp-action="NuevaCotiza" asp-controller="Solicitudes" name="NuevaCotiza" id="NuevaCotiza" method="post" enctype="multipart/form-data" onsubmit="CotiValidadorFormu(event)">
                                    @{
                                        if (ViewBag.EditarCoti is null)
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearcot" />
                                            <input type="hidden" asp-for="Item4.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actucot" />
                                            <input type="hidden" asp-for="Item4.Id" />
                                            <input type="hidden" asp-for="Item4.SolicitudId" />
                                        }
                                    }
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Fecha Cotización</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item4.Fecha" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Numero Cotización</label>
                                            <input asp-for="Item4.NumeCotizacion" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Monto Total</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <input asp-for="Item4.Monto" class="form-control pull-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            @{
                                                if (ViewBag.EditarCoti is null)
                                                {
                                                    <label>Archivo de Cotización</label>
                                                    <input asp-for="Item4.DocCoti" onchange="ChangeCoti()">
                                                    <input type="button" id="Coti_bcargar" value="cargar" onclick="Coti_cargarFile();" />@*Aqui borre el onclic*@
                                                }
                                                else
                                                {
                                                    <!-- Check -->
                                                    <label class="switch">
                                                        <input type="checkbox" id="Coti_Change" name="chek" onclick="CheckCoti()">
                                                        <span class="slider round">Actualizar documento</span>
                                                    </label>
                                                    <label>
                                                        <input asp-for="Item4.Documentonombre" type="text" readonly style="display:block" />
                                                    </label>
                                                    <input asp-for="Item4.DocCoti" onchange="ChangeCoti()" style="display:none"> @*Falta aqui y en el otro onfilechange*@
                                                    <input type="button" id="Coti_bcargar" value="cargar" onclick="Coti_cargarFile();" style="display:none" />@*Aqui borre el onclic*@
                                                }
                                            }
                                            <div id="rptCoti" name="respuesta" style="font-weight: bold;"></div>
                                            <input type="hidden" id="ValidaCoti" name="validador" value="false" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <br />
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(ViewBag.EditarCoti is null ? "Registrar" : "Actualizar")</button>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <br />
                                            <a href="#" class="btn btn-info"><i class="fa fa-arrow-circle-o-up"></i> Ir a cotizador</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title" style="font-weight: bold;">Listado de Cotizaciones</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-bordered table-striped tablas">
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha Cotización</th>
                                                            <th>Numero Cotización</th>
                                                            <th>Monto Total</th>
                                                            <th>Archivo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblCotizacion c in ViewBag.DetalleCoti)
                                                        {
                                                            <tr>

                                                                <td>@String.Format("{0:dd/MM/yyyy}", c.FechaCotizacion)</td>
                                                                <td>@c.NumeCotizacion</td>
                                                                <td>@c.Monto</td>
                                                                <td>@c.Documentonombre</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DCoti" asp-route-Id="@c.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaCotiza" asp-route-Tipoaccion="Datacot" asp-route-Cotid="@c.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaCotiza" asp-route-Tipoaccion="Elimicot" asp-route-Cotid="@c.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                        }
                        else
                        {
                            @Html.Raw(ViewBag.vicoti)
                        }
                    }
                    <!-- /.content -->
                </div>

                <!-- Datos reservaciones -->
                <div id="menu2" class="tab-pane fade @ViewBag.reserclas">
                    <br />

                    @{
                        if (ViewBag.starese is true)
                        {
                            <div class="col-md-12">
                                <form asp-action="NuevaDreserva" asp-controller="Solicitudes" id="NuevaDreserva" method="post">
                                    @{
                                        if (ViewBag.EditarRese is null)
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearrese" />
                                            <input type="hidden" asp-for="Item3.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Acturese" />
                                            <input type="hidden" asp-for="Item3.Id" />
                                            <input type="hidden" asp-for="Item3.SolicitudId" />
                                        }
                                    }
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">Tipo de reserva</label>
                                            <select asp-for="Item3.TipoServicioId" asp-items="ViewBag.Galleta" class="form-control">
                                                @*<option>Seleccionar servicio reserva</option>*@
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Fecha Reservacion</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item3.FechaIn" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">Localizador</label>
                                            <input asp-for="Item3.Localizador" class="form-control">
                                        </div>
                                        @*<div class="form-group col-md-2">
                                                <label>Fecha Fin</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input asp-for="Item3.FechaOut" class="form-control pull-right" value="2020-01-09">
                                                </div>
                                            </div>*@
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">Fecha Limite</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item3.FechaLimite" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">Proveedor</label>
                                            <select asp-for="Item3.ProveedorId" asp-items="ViewBag.Morocha" class="form-control">
                                                @*<option>Proveedor random</option>*@
                                            </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Operador</label>
                                            <select class="form-control">
                                                <option disable>Buganvilla</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Servicio Extra</label>
                                            <div class="checkbox">
                                                <label><input asp-for="Item3.Adicional">Extra</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">Importe</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <input asp-for="Item3.Monto" class="form-control pull-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputAddress"></label>
                                        <br />
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(ViewBag.EditarRese is null ? "Registrar" : "Actualizar")</button>
                                    </div>
                                </form>
                            </div>
                            <!-- Tabla de Reservación content -->
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Listado</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="tbl-detalle-reser" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Tipo Reserva</th>
                                                            <th>Localizador</th>
                                                            <th>Fecha de Reservación</th>
                                                            <th>Fecha Limite</th>
                                                            <th>Proveedor</th>
                                                            <th>Operador</th>
                                                            <th>Servicio Extra</th>
                                                            <th>Importe</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblReservasDetalle p in ViewBag.DetalleReserva)
                                                        {
                                                            <tr>
                                                                <td>@p.TipoServicio.Descripcion</td>
                                                                <td>@p.Localizador</td>
                                                                <td>@String.Format("{0:dd/MM/yyyy}", p.FechaIn)</td>
                                                                <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLimite)</td>
                                                                <td>@p.Proveedor.Nombre</td>
                                                                <td>Buganvilla</td>
                                                                <td>
                                                                    @if (p.Adicional == true)
                                                                    {<small class="label bg-red">Extra</small>}
                                                                </td>
                                                                <td>@p.Monto</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaDreserva" asp-route-Tipoaccion="Datarese" asp-route-Reservaid="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaDreserva" asp-route-Tipoaccion="Elimirese" asp-route-Reservaid="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="7">
                                                                <label class="pull-right">Total :</label>
                                                            </th>
                                                            <td>@ViewBag.Sumreserva</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                            <!-- /.content -->
                        }
                        else
                        {
                            @Html.Raw(ViewBag.virese)
                        }
                    }


                </div>

                <!-- Datos Liquidacion Cliente -->
                <div id="menu4" class="tab-pane fade @ViewBag.Licliclas">
                    <br />
                    @{
                        if (ViewBag.Liquicli is true)
                        {
                            <div class="col-md-12">
                                <form asp-action="NuevaLCliente" asp-controller="Solicitudes" id="NuevaLCliente" name="NuevaLCliente" method="post" enctype="multipart/form-data" onsubmit="LcliValidadorFormu(event)">
                                    @{
                                        if (ViewBag.Editarlicli is null)
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crealicli" />
                                            <input type="hidden" asp-for="Item5.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actulicli" />
                                            <input type="hidden" asp-for="Item5.Id" />
                                            <input type="hidden" asp-for="Item5.SolicitudId" />
                                        }
                                    }

                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            <label>Fecha de Liquidación</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item5.FechaLcliente" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>N° Voucher</label>
                                            <input asp-for="Item5.NumeVouch" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Forma de Pago</label>
                                            <select asp-for="Item5.FormaPago" class="form-control">
                                                <option value="Tarjeta de Credito">Tarjeta de Credito</option>
                                                <option value="Efectivo">Efectivo</option>
                                                <option value="Pago Efectivo">Pago Efectivo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Banco</label>
                                            <select asp-for="Item5.Banco" class="form-control">
                                                <option value="BCP">BCP</option>
                                                <option value="Banco de la Nacion">Banco de la Nacion</option>
                                                <option value="Interbank">Interbank</option>
                                                <option value="Banco Azteca ">Banco Azteca</option>
                                                <option value="Banco Agrario">Banco Agrario</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            <label>Titular</label>
                                            <input asp-for="Item5.Titular" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Numero de Tarjeta</label>
                                            <input asp-for="Item5.NumeTarjeta" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Importe</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <input asp-for="Item5.Monto" class="form-control pull-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            @{
                                                if (ViewBag.Editarlicli is null)
                                                {
                                                    <label>Archivo de Cotización</label>
                                                    <input asp-for="Item5.Doc" onchange="ChangeLcli()">
                                                    <input type="button" id="Lcli_bcargar" value="cargar" onclick="Lcli_cargarFile();" />@*Aqui borre el onclic*@
                                                }
                                                else
                                                {
                                                    <!-- Check -->
                                                    <label class="switch">
                                                        <input type="checkbox" id="Lcli_Change" name="chek" onclick="CheckLcli()">
                                                        <span class="slider round">Actualizar documento</span>
                                                    </label>
                                                    <label>
                                                        <input asp-for="Item5.Documentonombre" type="text" readonly style="display:block" />
                                                    </label>
                                                    <input asp-for="Item5.Doc" onchange="ChangeLcli()" style="display:none"> @*Falta aqui y en el otro onfilechange*@
                                                    <input type="button" id="Lcli_bcargar" value="cargar" onclick="Lcli_cargarFile();" style="display:none" />@*Aqui borre el onclic*@
                                                }
                                            }
                                            <div id="rptLcli" name="respuesta" style="font-weight: bold;"></div>
                                            <input type="hidden" id="ValidaLcli" name="validador" value="false" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <br />
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(ViewBag.Editarlicli is null ? "Registrar" : "Actualizar")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Tabla de Liquidacion cliente -->
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Listado</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="tbl-detalle-reser" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha Liquidacion</th>
                                                            <th>Forma de Pago</th>
                                                            <th>Banco</th>
                                                            <th>Titular</th>
                                                            <th>Número de Tarjeta</th>
                                                            <th>N° Voucher</th>
                                                            <th>Archivo </th>
                                                            <th>Importe</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblLiquiCliente p in ViewBag.DetalleLiCliente)
                                                        {
                                                            <tr>
                                                                <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLcliente)</td>
                                                                <td>@p.FormaPago</td>
                                                                <td>@p.Banco</td>
                                                                <td>@p.Titular</td>
                                                                <td>@p.NumeTarjeta</td>
                                                                <td>@p.NumeVouch</td>
                                                                <td>@p.Documentonombre</td>
                                                                <td>@p.Monto</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLic" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaLCliente" asp-route-Tipoaccion="Datalicli" asp-route-Lclid="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaLCliente" asp-route-Tipoaccion="Elimilicli" asp-route-Lclid="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="7">
                                                                <label class="pull-right">Total :</label>
                                                            </th>
                                                            <td>@ViewBag.Sumlicli</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                            <!-- /.content -->
                        }
                        else
                        {
                            @Html.Raw(ViewBag.vilicli)
                        }
                    }
                </div>

                <!-- Datos Liquidacion Proveedor -->
                <div id="menu5" class="tab-pane fade @ViewBag.Liproclas">
                    <br />
                    @{
                        if (ViewBag.Liquipro is true)
                        {
                            <div class="col-md-12">
                                <form asp-action="NuevaLProveedor" asp-controller="Solicitudes" id="NuevaLProveedor" name="NuevaLProveedor" method="post" enctype="multipart/form-data" onsubmit="LproValidadorFormu(event)">
                                    @{
                                        if (ViewBag.Editarlipro is null)
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crealipro" />
                                            <input type="hidden" asp-for="Item6.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actulipro" />
                                            <input type="hidden" asp-for="Item6.Id" />
                                            <input type="hidden" asp-for="Item6.SolicitudId" />
                                        }
                                    }
                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            <label>Proveedor</label>
                                            <select asp-for="Item6.ProveedorId" asp-items="ViewBag.Provee" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Pago por Cliente</label>
                                            <div class="checkbox">
                                                <label><input asp-for="Item6.PagoCliente">Pago</label>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Fecha de Liquidación</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item6.FechaLprove" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Forma de Pago</label>
                                            <select asp-for="Item6.FormaPago" class="form-control">
                                                <option value="Tarjeta de Credito">Tarjeta de Credito</option>
                                                <option value="Efectivo">Efectivo</option>
                                                <option value="Pago Efectivo">Pago Efectivo</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Banco</label>
                                            <select asp-for="Item6.Banco" class="form-control">
                                                <option value="BCP">BCP</option>
                                                <option value="Banco de la Nacion">Banco de la Nacion</option>
                                                <option value="Interbank">Interbank</option>
                                                <option value="Banco Azteca">Banco Azteca</option>
                                                <option value="Banco Agrario">Banco Agrario</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            <label>Titular</label>
                                            <input asp-for="Item6.Titular" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>N° de Tarjeta</label>
                                            <input asp-for="Item6.NumeTarjeta" class="form-control">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>N° Voucher</label>
                                            <input asp-for="Item6.NumeVaucher" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Importe</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <input asp-for="Item6.Monto" class="form-control pull-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group col-md-3">
                                            @{
                                                if (ViewBag.Editarlipro is null)
                                                {
                                                    <label>Archivo de Cotización</label>
                                                    <input asp-for="Item6.Doc" onchange="ChangeLpro()">
                                                    <input type="button" id="Lpro_bcargar" value="cargar" onclick="Lpro_cargarFile();" />@*Aqui borre el onclic*@
                                                }
                                                else
                                                {
                                                    <!-- Check -->
                                                    <label class="switch">
                                                        <input type="checkbox" id="Lpro_Change" name="chek" onclick="CheckLpro()">
                                                        <span class="slider round">Actualizar documento</span>
                                                    </label>
                                                    <label>
                                                        <input asp-for="Item6.Documentonombre" type="text" readonly style="display:block" />
                                                    </label>
                                                    <input asp-for="Item6.Doc" onchange="ChangeLpro()" style="display:none"> @*Falta aqui y en el otro onfilechange*@
                                                    <input type="button" id="Lpro_bcargar" value="cargar" onclick="Lpro_cargarFile();" style="display:none" />@*Aqui borre el onclic*@
                                                }
                                            }
                                            <div id="rptLpro" name="respuesta" style="font-weight: bold;"></div>
                                            <input type="hidden" id="ValidaLpro" name="validador" value="false" />
                                        </div>
                                        <div class="form-group col-md-4">
                                            <br />
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(ViewBag.Editarlipro is null ? "Registrar" : "Actualizar")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Tabla de LiquidacionProve content -->
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title">Listado</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table id="tbl-detalle-reser" class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha Liquidacion</th>
                                                            <th>Proveedor</th>
                                                            <th>Forma de Pago</th>
                                                            <th>Banco</th>
                                                            <th>Titular</th>
                                                            <th>Número de Tarjeta</th>
                                                            <th>N° voucher</th>
                                                            <th>Archivo </th>
                                                            <th>Pago por Cliente</th>
                                                            <th>Importe</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblLiquiProve p in ViewBag.DetalleLiProveedor)
                                                        {
                                                            <tr>
                                                                <td>@String.Format("{0:dd/MM/yyyy}", p.FechaLprove)</td>
                                                                <td>@p.Proveedor.Nombre</td>
                                                                <td>@p.FormaPago</td>
                                                                <td>@p.Banco</td>
                                                                <td>@p.Titular</td>
                                                                <td>@p.NumeTarjeta</td>
                                                                <td>@p.NumeVaucher</td>
                                                                <td>@p.Documentonombre</td>
                                                                <td>
                                                                    @if (p.PagoCliente == true)
                                                                    {<small class="label bg-red">Comisión</small>}
                                                                </td>
                                                                <td>@p.Monto</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DLip" asp-route-Id="@p.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaLProveedor" asp-route-Tipoaccion="Datalipro" asp-route-Lprid="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaLProveedor" asp-route-Tipoaccion="Elimilipro" asp-route-Lprid="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="9">
                                                                <label class="pull-right">Total :</label>
                                                            </th>
                                                            <td>@ViewBag.Sumlipro</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                            <!-- /.content -->
                        }
                        else
                        {
                            @Html.Raw(ViewBag.vilipro)
                        }
                    }
                </div>

                <!-- Datos Factura -->
                <div id="menu6" class="tab-pane fade @ViewBag.factclas">
                    <br />
                    @{
                        if (ViewBag.stafact is true)
                        {
                            <div class="col-md-12">
                                <form asp-action="NuevaFac" asp-controller="Solicitudes" name="NuevaFac" id="NuevaFac" method="post" enctype="multipart/form-data" onsubmit="FactValidadorFormu(event)">

                                    @{
                                        if (ViewBag.EditarFact is null)
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Crearfac" />
                                            <input type="hidden" asp-for="Item7.SolicitudId" value="@ViewBag.DetalleSolicitud.Id" />
                                        }
                                        else
                                        {
                                            <input type="hidden" name="Tipoaccion" id="Tipoaccion" value="Actufac" />
                                            <input type="hidden" asp-for="Item7.Id" />
                                            <input type="hidden" asp-for="Item7.SolicitudId" />
                                        }
                                    }
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label>Fecha de Facturación</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="Item7.Fecha" type="text" class="form-control pull-right datepicker">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>N° Factura</label>
                                            <input asp-for="Item7.NumeFactu" class="form-control">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>Monto a Facturar</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </div>
                                                <input asp-for="Item7.Monto" class="form-control pull-right">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            @{
                                                if (ViewBag.EditarFact is null)
                                                {
                                                    <label>Archivo de Cotización</label>
                                                    <input asp-for="Item7.DocFact" onchange="ChangeFact()">
                                                    <input type="button" id="Fact_bcargar" value="cargar" onclick="Fact_cargarFile();" />
                                                }
                                                else
                                                {
                                                    <!-- Check -->
                                                    <label class="switch">
                                                        <input type="checkbox" id="Fact_Change" name="chek" onclick="CheckFact()">
                                                        <span class="slider round">Actualizar documento</span>
                                                    </label>
                                                    <label>
                                                        <input asp-for="Item7.Documentonombre" type="text" readonly style="display:block" />
                                                    </label>
                                                    <input asp-for="Item7.DocFact" onchange="ChangeFact()" style="display:none">
                                                    <input type="button" id="Fact_bcargar" value="cargar" onclick="Fact_cargarFile();" style="display:none" />
                                                }
                                            }
                                            <div id="rptFact" name="respuesta" style="font-weight: bold;"></div>
                                            <input type="hidden" id="ValidaFact" name="validador" value="false" />
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <br />
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>@(ViewBag.EditarFact is null ? "Registrar" : "Actualizar")</button>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <br />
                                        <a href="#" class="btn btn-info"><i class="fa fa-arrow-circle-o-up"></i> Ir a facturar</a>
                                    </div>
                                </form>
                            </div>
                            <!-- Main content -->
                            <section class="content">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="box box-success">
                                            <div class="box-header">
                                                <h3 class="box-title" style="font-weight: bold;">Listado de Facturas</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-bordered table-striped tablas">
                                                    <thead>
                                                        <tr>
                                                            <th>Fecha Facturación</th>
                                                            <th>N° de Factura</th>
                                                            <th>Monto a Facturar</th>
                                                            <th>Archivo</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (TblFactura f in ViewBag.DetalleFact)
                                                        {
                                                            <tr>
                                                                <td>@f.FechaFactu</td>
                                                                <td>@f.NumeFactu</td>
                                                                <td>@f.Monto</td>
                                                                <td>@f.Documentonombre</td>
                                                                <td>
                                                                    <div class="btn-group">
                                                                        <a target="_blank" asp-action="DownloadFile" asp-route-Tipoaccion="DFact" asp-route-Id="@f.Id" class="btn btn-block btn-success btn-xs"><i class="fa fa-download"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-block btn-info btn-xs"><i class="fa fa-envelope"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a class="btn btn-block btn-success btn-xs"><i class="fa fa-whatsapp"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaFac" asp-route-Tipoaccion="Datafac" asp-route-Facid="@f.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                                                                    </div>
                                                                    <div class="btn-group">
                                                                        <a asp-action="NuevaFac" asp-route-Tipoaccion="Elimifac" asp-route-Facid="@f.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </section>
                            <!-- /.content -->
                        }
                        else
                        {
                            @Html.Raw(ViewBag.vifac)
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bootstrap time picker -->
<script src="@Url.Content("~/lib/timepicker/bootstrap-timepicker.min.js")"></script>
<!-- bootstrap datepicker -->
<script src="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js")"></script>
<!--datepicker es-->
<script src="@Url.Content("~/lib/bootstrap-datepicker/bootstrap-datepicker.es.js")" charset="UTF-8"></script>
<!-- AjaxSite -->
<script src="@Url.Content("~/js/site.js")"></script>

<script>
    $(document).ready(function () {

        //Date picker
        $(".datepicker").datepicker({
            autoclose: true,
            language: 'es'
        });

        //Timepicker
        $('.timepicker').timepicker({
            showInputs: false
        })

    });
</script>
<script>
    if (location.href.includes('?')) {
        history.pushState({}, null, location.href.split('?')[0]);
    }
</script>