﻿<br />
<div class="col-md-12">
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Nuevo</h3>
            <!-- /.box-heder -->
        </div>
        <a asp-action="Nuevo" class="btn btn-primary"><i class="fa fa-save"></i>Nuevo</a>
    </div>
</div>
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="box-header">
                <h3 class="box-title">Solicitudes</h3>
            </div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>N° Solicitud</th>
                        <th>Cliente</th>
                        <th>Destino</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TblSolicitud p in ViewBag.Solicitudes)
                    {
                    <tr>
                        <td>@p.NumeroSolicitud</td>
                        <td>
                            @*@String.Format("{0:dd/MM/yyyy}",p.Fecha)*@
                            @p.PersonaContacto
                        </td>
                        <td>@p.Destino.Nombre - @p.DestinoId </td>
                        <td>
                            <div class="btn-group">
                                <a asp-action="VerDetalle" asp-route-id="@p.Id" class="btn btn-block bg-navy btn-xs"><i class="fa fa-eye"></i></a>
                            </div>
                            <div class="btn-group">
                                <a asp-action="Editar" asp-route-id="@p.Id" class="btn btn-block btn-warning btn-xs"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="btn-group">
                                <a asp-action="" asp-route-id="@p.Id" class="btn btn-block btn-danger btn-xs"><i class="fa fa-ban"></i></a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



