﻿<!-- Select2 -->
<link rel="stylesheet" href="@Url.Content("~/lib/select2/select2.min.css")">
<br>
<style>
    .display-input {
        display: none;
    }

    .select-control {
        height: 38px;
        margin-bottom: 5px;
        border: 1px solid #eee;
    }
</style>
<br />
<div class="col-xs-2">

</div>

<div class="col-xs-8">
    <div class="box box-info">
        <div class="box-header with-border">
            <!--Ventana Modal-->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="background: #5DADE2;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" style="font-weight: bold;">REGISTRO DE SOLICITUD</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/Solicitudes/_ModalSolicitud" method="post" class="form-horizontal">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">File:</label>
                                        <div class="col-sm-5">
                                            <input type="text" name="nomFile" class="form-control" placeholder="Ingrese File">
                                        </div>
                                        <div class="input-group">
                                            <button asp-action="Nuevo" type="button" class="btn btn-success"><i class="fa fa-spinner"></i> Cargar Clientes</button>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Cliente:</label>
                                        <div class="col-sm-5">
                                            <select asp-items="ViewBag.Clientes" name="Clienteid" class="form-control" style="width: 100%;" data-select2-id="1" tabindex="-1" aria-hidden="true">
                                                <option selected="selected" data-select2-id="3">Seleccionar ...</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <a asp-action="" class="btn btn-success"><i class="fa fa-check"></i> Crear Cliente </a>
                                        </div>
                                    </div>

                                </div>

                                <!--Botones-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                                    <button asp-action="_ModalSolicitud" type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Procesar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--Busqueda-->
            <form name="formulario1" action="/Solicitudes/Inicio" method="post">
                <br />
                <div class="form-row">

                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Buscar por:</label>
                        <select name="selectCon" id="selectCon" class="form-control" for="inputEmail4" onchange="otherTown()">
                            <option value="0"> Seleccionar</option>
                            <option value="1">File</option>
                            <option value="2">Fecha</option>
                            <option value="3">Cliente</option>
                            <option value="4">Status</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <div id="ingreTexto" style="display:none;">
                            <label for="inputAddress"></label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="Buscar..." name="nomFile">
                        </div>
                        <div id="ingreStatus" style="display:none;">
                            <label for="inputEmail4"></label>
                            <select name="VarStatus" class="form-control" for="inputEmail4">
                                <option value="0"> Seleccionar ...</option>
                                <option value="1"> Iniciado</option>
                                <option value="2"> En Proceso</option>
                                <option value="3"> Finalizado</option>
                            </select>
                        </div>

                        <div id="ingreFecha" style="display:none;">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Desde:</label>
                                <input type="date" name="fechaInicio" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Hasta:</label>
                                <input type="date" name="fechaFin" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputAddress"></label>
                        <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div class="form-group col-md-1">
                <label for="inputAddress"></label>
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalLong"><i class="fa fa-plus"></i> Agregar</button>
            </div>
        </div>
    </div>
</div>
        <!-- /.col -->
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    @*<div class="form-group col-md-8">
                        <label for="inputAddress"></label>
                        <input type="hidden" class="form-control" id="inputAddress" placeholder="Cliente">
                    </div>*@
                    @*<div class="form-group col-md-3">
                        <label for="inputAddress"></label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Buscar...">
                    </div>*@
                    @*<div class="form-group col-md-1">
                        <label for="inputAddress"></label>
                        <br />
                        <button class="btn btn-success"><i class="fa fa-search"></i></button>
                    </div>*@
                    <div class="box-body">
                        @foreach (TblSolicitud p in ViewBag.Solicitudes)
                        {
                            string ColorCaja = "";
                            if (p.Cancelaestado is true)
                            {
                                ColorCaja = "bg-gray";
                            }
                            else {
                                if (p.Estadofile == 1)
                                {
                                    ColorCaja = "bg-green";
                                }
                                else if (p.Estadofile > 1 && p.Estadofile <= 5)
                                {
                                    ColorCaja = "bg-orange";
                                }
                                else if (p.Estadofile > 5)
                                {
                                    ColorCaja = "bg-blue";
                                }
                            }
                            <div class="col-lg-3 col-xs-6">
                                <!-- small box -->
                                <div class="small-box @ColorCaja">
                                    <div class="inner">
                                        @{
                                            string nomCliente = "";
                                            if (p.Cliente is null)
                                            {
                                                nomCliente = "Asignar Cliente";
                                            }
                                            else
                                            {
                                                nomCliente = p.Cliente.Nombre.ToString();
                                            }

                                            int nume = Convert.ToInt32(p.Cntinfa + p.Cntadulto + p.Cntnino);

                                        }

                                        <div class="container-fluid">
                                            <div class="box-tools pull-left">
                                                <h4><b>@p.Nomfile</b></h4>
                                                <h4><b>@p.NumeroSolicitud</b></h4>
                                                <h4><b>@nomCliente</b></h4>
                                            </div>
                                            <div class="box-tools pull-right">
                                                <h4><b>@String.Format("{0:dd/MM/yyyy}", p.FechaSolicitud)</b></h4>
                                                <h4><b><i class="fa fa-plane"></i> @String.Format("{0:dd/MM/yyyy}", p.FechaIn)</b></h4>
                                                <h4><b><i class="fa fa-male"></i> @nume</b></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <a asp-action="VerDetalle" asp-route-id="@p.Id" class="small-box-footer">Ver solicitud <i class="fa fa-arrow-circle-right"></i></a>
                                    <a asp-action="VerDetalle2" asp-route-id="@p.Id" class="small-box-footer">Ver solicitud 2 <i class="fa fa-arrow-circle-right"></i></a>
                                    <a asp-action="Editar" asp-route-id="@p.Id" class="small-box-footer">Editar solicitud <i class="fa fa-pencil"></i></a>
                                    <a asp-action="Editar2" asp-route-id="@p.Id" class="small-box-footer">Editar solicitud 2<i class="fa fa-pencil"></i></a>
                                </div>
                            </div>
                                            }
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-orange">
                            <div class="inner">
                                <div class="box-tools pull-right">
                                    <h4><b>28/09/2019</b></h4>
                                </div>
                                <h3>09</h3>
                                <h4>Ica Tour</h4>
                            </div>
                            <a href="@Url.Action("Index", "Home")" class="small-box-footer">Ver solicitud <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    </div>
                    <!-- /.box -->
                    <div class="container" style="text-align:center;">
                        <ul class="pagination">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
    <!-- Select2 -->
    <script src="@Url.Content("~/lib/select2/select2.min.js")"></script>
    <script>
        $(document).ready(function () {

            $('.select2').select2();
        });
    </script>
    <script>
        jQuery(function ($) {
            $('#selectCon').on('change', function () {
                //mostrar input file
                if ($(this).val() === "1") {
                    $("#ingreTexto").show(this.value == 1);
                    $("#ingreFecha").hide();
                    $("#ingreStatus").hide();
                    //mostrar input fecha
                } else if ($(this).val() === "2") {
                    $("#ingreTexto").hide();
                    $("#ingreFecha").show(this.value == 2);
                    $("#ingreStatus").hide();
                    //mostrar input Cliente
                } else if ($(this).val() === "3") {
                    $("#ingreTexto").show(this.value == 3);
                    $("#ingreFecha").hide();
                    $("#ingreStatus").hide();
                } else if ($(this).val() === "4") {
                    $("#ingreTexto").hide();
                    $("#ingreFecha").hide();
                    $("#ingreStatus").show(this.value == 4);
                } else {
                    $("#ingreTexto").show();
                    $("#ingreFecha").hide();
                    $("#ingreStatus").hide();
                }

            });
        })
    </script>