﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wsicav | Cloud</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower/font-awesome/css/font-awesome.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins -->
    <link rel="stylesheet" href="~/dist/css/skins/_all-skins.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <link rel="icon" type="image/png" href="@Url.Content("~/images/ico.png")" />

    <!-- jQuery 3 -->
    <script src="~/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Ionicons -->
    @*<link rel="stylesheet" href="~/bower/Ionicons/css/ionicons.min.css">*@
    <!-- daterange picker -->
    @*<link rel="stylesheet" href="~/bower/bootstrap-daterangepicker/daterangepicker.css">*@
    <!-- bootstrap datepicker -->
    @*<link href="~/bower/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />*@
    <!-- iCheck for checkboxes and radio inputs -->
    @*<link rel="stylesheet" href="~/plugins/iCheck/all.css">*@
    <!-- jvectormap -->
    @*<link rel="stylesheet" href="~/bower/jvectormap/jquery-jvectormap.css">*@

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--
        <link rel="stylesheet" href="~/dist/css/style.css" />
    -->
</head>

<body class="hold-transition skin-black-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <partial name="~/Views/Shared/Vistas/_Header.cshtml" />
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <partial name="~/Views/Shared/Vistas/_Menu.cshtml" />
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- Header -->
        <footer class="main-footer">
            <partial name="~/Views/Shared/Vistas/_Footer.cshtml" />
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- JAVASCRIPT PAG -->
    <script src="~/dist/js/site.js" asp-append-version="true"></script>
    <!-- SlimScroll -->
    <script src="~/bower/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>

    <!-- FastClick -->
    @*<script src="~/bower/fastclick/lib/fastclick.js"></script>*@

    <!-- Sparkline -->
    @*<script src="~/bower/jquery-sparkline/dist/jquery.sparkline.min.js"></script>*@
    <!-- jvectormap  -->
    @*<script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>*@

    <!-- InputMask -->
    @*<script src="~/plugins/input-mask/jquery.inputmask.js"></script>
        <script src="~/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
        <script src="~/plugins/input-mask/jquery.inputmask.extensions.js"></script>*@
    <!-- date-range-picker -->
    @*<script src="~/bower/moment/min/moment.min.js"></script>
        <script src="~/bower/bootstrap-daterangepicker/daterangepicker.js"></script>*@
    <!-- bootstrap datepicker -->
    @*<script src="~/bower/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>*@
    <!-- iCheck 1.0.1 -->
    @*<script src="~/plugins/iCheck/icheck.min.js"></script>*@
    <!-- ChartJS -->
    @*<script src="~/bower/Chart.js/Chart.js"></script>*@

    <!-- DataTables -->
    <script src="~/bower/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>



    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/dist/js/pages/dashboard2.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    @*<script src="~/dist/js/demo.js"></script>*@
    <script src="~/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }
        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
