﻿
@{
    ViewData["Title"] = "Menu";
}

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/images/WSICAV.png")" class="img-circle" alt="Wsicav Bsc">
        </div>
        <div class="pull-left info">
            <p>Administrador</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
        <li class="header"> </li>

        <li>
            <a asp-area="" asp-controller="CorreoCampana" asp-action="Index">
                <i class="fa fa-envelope"></i> <span>Mail Marketing</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Solicitudes" asp-action="Inicio">
                <i class="fa fa-folder"></i> <span>File</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-user-circle-o"></i>
                <span>Usuarios</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-circle-o"></i> Registrar</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i>
                <span>Clientes</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Clientes")"><i class="fa fa-circle-o"></i> Registrar</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cart-plus"></i>
                <span>Proveedores</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Proveedores")"><i class="fa fa-circle-o"></i> Registrar</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-th"></i>
                <span>Tipo Servicios</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "TipoServicios")"><i class="fa fa-circle-o"></i> Registrar</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-bus"></i>
                <span>Transporte</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Guias")"><i class="fa fa-circle-o"></i> Guias</a></li>
                <li><a href="@Url.Action("Index", "Vehiculos")"><i class="fa fa-circle-o"></i> Vehiculos</a></li>
                <li><a href="@Url.Action("Index", "Conductores")"><i class="fa fa-circle-o"></i> Conductores</a></li>

            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-map-marker"></i> <span>Destinos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index", "Destinos")"><i class="fa fa-circle-o"></i> Destinos</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li>
            <a href="pages/calendar.html">
                <i class="fa fa-folder"></i> <span>Menu</span>
            </a>
        </li>
        <li>
            <a href="pages/mailbox/mailbox.html">
                <i class="fa fa-envelope"></i> <span>Menu</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Menu</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Menu</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Menu
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Menu
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Menu</a></li>
            </ul>
        </li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Menu</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Menu</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Menu</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Menu</span></a></li>
    </ul>
</section>
<!-- /.sidebar -->